<div class="container row">
    <div class="col-sm">
        <p class="main-title"><a href="mailto:fundraising@kicevents.com?subject=CURE 2026 Sponsorship?body=I would like to become a CURE 2026 sponsor.">Become a CURE 2026 Sponsor!</a></p>
    </div>
</div>
<div class="container row">
    <p class="main-title">Sponsoring CURE 2026 helps to provide furniture, staff, and amenities at the event. In return, you can receive advertisement space on our website, in our brochure, or even on the hotel floor.</p>
</div>
<hr />