@page
@model kicweb.Views.Shared.UnderConstruction


<div class="view-body">
    <div class="row">
        <div class="text-center">
            <h4>This area of the site is under construction.</h4>
            <img src="/wwwroot/css/images/kic-toys.jpg" alt="A photo of our electric demo station." height="400"
                width="400">
            <p>Please check again later.</p>
        </div>
    </div>
</div>