.events__section {
  h2 {
    margin-bottom: var(--space-2-5);
  }

  .events {
    display: grid;
    justify-content: center;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 0.75fr));
    gap: var(--space-2-5);
    margin-bottom: var(--space-3);
  }
  
  .event {
    display: flex;
    flex-direction: column;
    border: .325rem solid var(--color-accent);
    background: var(--color-black);
    color: var(--color-white);

    &__top {
      aspect-ratio: 390 / 415;
      border-bottom: 1px solid var(--color-white);
    
      img {
        width: 100%;
        height: auto;
      }
    }

    &__bottom {
      flex: 1;
      padding: var(--space-3-5) var(--space-2);
      @include flex-center-column;
      gap: var(--space-1);
      
      h3 {
        font-family: var(--font-montserrat);
        font-size: 1.09375rem;
        letter-spacing: 0.109375rem;
        line-height: 1.34375rem;
        text-align: center;
        color: var(--color-white);
        text-transform: uppercase;
      }
    }
  }

  .events__qr-code {
    display: flex;
    align-items: center;
    width: 100%;
    img {
      width: 7.75rem;
      height: auto;
      margin-right: var(--space-2-5);
    }
    p {
      color: var(--color-text-primary);
      font-family: var(--font-montserrat);
      font-size: 1.25rem;
      letter-spacing: 0.125rem;
      line-height: 1.53125rem;
      font-weight: 500;

      a {
        text-decoration: underline;
        font-weight: bold;
      }
    }
  }
}