@use "./_reset";
@use "./_typography";
@use "./pages/index";

html:not(.js-enabled) dialog ~ * {
  display: none !important;
}

.scroll-lock {
  overflow: hidden;
  padding-right: var(--scrollbar-width);
}

.theme__cure {
  --color-theme: var(--color-theme-cure);
}