@model CheckInViewModel

<div class="view-body">
    <div class="container row">
        <div class="col-sm">
            <h2 class="main-title">Registration Intake Form | Check In</h2>
        </div>
    </div>
    <div class="container row">
        <div class="col-sm">
            <hr />
        </div>
    </div>
    @if (Model.IsEmpty())
    {
        <h2>Data not found!</h2>
    }
    @if (!Model.IsEmpty())
    {
        <form method="post" asp-area="" asp-controller="Admin" asp-action="checkin">
            <div class="container row">
                <div class="col-sm">
                    <div class="form-group">
                        <label asp-for="FirstName">First Name</label>
                        <input asp-for="FirstName" class="form-control" readonly />
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-group">
                        <label asp-for="LastName">Last Name</label>
                        <input asp-for="LastName" class="form-control" readonly />
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-group">
                        <label asp-for="ConfNumber">Confirmation Number</label>
                        <input asp-for="ConfNumber" class="form-control" readonly />
                    </div>
                </div>
            </div>
            <div class="container row">
                <div class="col-sm">
                    <div class="form-group">
                        <input asp-for="IsPaid" type="checkbox" disabled>
                        <label asp-for="IsPaid">Attendee Has Paid</label>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-group">
                        <input asp-for="BCComplete" type="checkbox" disabled>
                        <label asp-for="BCComplete">Background Check Complete</label>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-group">
                        <input asp-for="IsRegistered" type="checkbox" disabled>
                        <label asp-for="IsRegistered">Attendee Has Registered</label>
                    </div>
                </div>
            </div>
            <div class="container row">
                <div class="col-sm">
                    <div class="form-group">
                        @if(Model.IsPaid is true && Model.BCComplete is true)
                        {
                            <button type="submit" class="flat-btn">Check In</button>
                        }
                    </div>
                </div>
            </div>
        </form>
    }
</div>