

<div class="view-body">
    <div class="container row">
        <div class="col-sm">
            <h1 class="main-title">Check In Successful!</h1>
        </div>
    </div>
</div>

<script>
    function delayer() {
        window.location.href = "Registration";
    }

    window.setTimeout(delayer, 3000);
</script>