@page


<div class="view-body">
    <h1 class="main-title">Welcome Admin</h1>
    <hr />
    <div class="landing-page">
        <div class="row">
            <div class="text-center">
                <h4>Welcome to KIC Events Administration</h4>
                <h5>We are Kinky In Columbus</h5>
                <hr />
                <p><b>Choose an admin task below</b></p>
                <ol>
                    <b>
                    <li><a asp-area="" asp-controller="Admin" asp-action="Index">Registration</a></li>
                    <li><a asp-area="" asp-controller="Admin" asp-action="Index">Volunteer Management</a></li>
                    <li><a asp-area="" asp-controller="Admin" asp-action="Index">Vendor Management</a></li>
                    <li><a asp-area="" asp-controller="Admin" asp-action="Index">Presentor Management</a></li>
                    <li><a asp-area="" asp-controller="Admin" asp-action="Index">Ticket Management</a></li>
                    <li><a asp-area="" asp-controller="Admin" asp-action="Index">Owner Tasks</a></li>
                    </b>
                </ol>
            </div>
        </div>
        <br />
        <hr />
        <br />    
    </div>
    
</div>