@model KiCData.Models.WebModels.CheckInViewModel

<div class="view-body">
    <div class="container row">
        <div class="col-sm">
            <h2 class="main-title">Registration Intake Form</h2>
        </div>
    </div>
    <div class="container row">
        <div class="col-sm">
            <hr />
        </div>
    </div>
    <form method="post">
        <div class="container row">
            <div class="col-sm">
                <div class="form-group">
                    <label asp-for="EventId">For which event are you checking in?</label>
                    <select asp-for="EventId" class="form-control" asp-items="@Model.Events"></select>
                </div>
            </div>
        </div>
        <div class="container row">
            <div class="col-sm">
                <div class="form-group">
                    <label asp-for="FirstName">First Name</label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
            </div>
            <div class="col-sm">
                <div class="form-group">
                    <label asp-for="LastName">Last Name</label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>
            <div class="col-sm">    
                <div class="form-group">
                    <label asp-for="ConfNumber">Confirmation Number</label>
                    <input asp-for="ConfNumber" class="form-control" />
                    <span asp-validation-for="ConfNumber" class="text-danger"></span>
                </div>
            </div>            
        </div>
        <div class="container row">
            <div class="col-sm">
                <div class="form-group">
                    <button type="submit" class="flat-btn">Search</button>
                </div>
            </div>
        </div>
    </form>
</div>