@page
@model KiCData.Models.WebModels.TicketViewModel
@{
    ViewData["Title"] = "TicketManagement";
}

<div class="view-body">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <div class="col-8">
                <label asp-for="EventId"></label>
                <select asp-for="EventId" asp-items="@Model.Events">
                    <option value="">Select Event</option>
                </select>
                <span asp-validation-for="EventId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-8">
                <label asp-for="QtyTickets"></label>
                <input asp-for="QtyTickets" class="form-control" />
                <span asp-validation-for="QtyTickets" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-8">
                <label asp-for="Type"></label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-8">
                <label asp-for="StartDate"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-8">
                <label asp-for="EndDate"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-8">
                <label asp-for="Price"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
        </div>
    </form>
</div>

