[Unit]
Description=Dev site for cure event

[Service]
WorkingDirectory=/srv/curedev
ExecStart=/usr/bin/dotnet /srv/curedev/Cure.dll
Restart=always
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=curedev-dotnet
User=www-data
Environment=ASPNETCORE_ENVIRONMENT=Development
Environment=ASPNETCORE_URLS=http://localhost:5003

[Install]
WantedBy=multi-user.target
