[Unit]
Description=Development service for KIC Discord bot

[Service]
WorkingDirectory=/srv/janedev
ExecStart=/usr/bin/dotnet /srv/jane/Jane.dll
Restart=always
KillSignal=SIGINT
SyslogIdentifier=janedev-dotnet
User=www-data
Environment=ASPNETCORE_ENVIRONMENT=Development

[Install]
WantedBy=multi-user.target