[Unit]
Description=Development site for KIC Events LLC

[Service]
WorkingDirectory=/srv/kicdev
ExecStart=/usr/bin/dotnet /srv/kicdev/KiCWeb.dll
Restart=always
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=kicdev-dotnet
User=www-data
Environment=ASPNETCORE_ENVIRONMENT=Development
Environment=ASPNETCORE_URLS=http://localhost:5001

[Install]
WantedBy=multi-user.target
