@page

<div class="view-body">
    <div class="main-content">
        <h1>Purchase Event Tickets</h1>
        <hr />
        <br />
        <div id="monthly-parties">
            <h3>Monthly KIC Parties</h3>
            <p>At this time, tickets for our monthly parties must be purchased through the <a asp-area="" asp-controller="Gen" asp-action="Club425">Club425 website.</a></p>
            <hr />
            <br />
        </div>
    </div>
</div>
