<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KIC Events LLC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="icon" type="image/x-icon" href="~/css/images/favicon.ico" />
</head>

<body>
    <header class="header">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"></a>
                <button class="navbar-toggler flat-btn" type="button" data-bs-toggle="collapse"
                    data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="flat-btn nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="flat-btn nav-link" asp-area="" asp-controller="Home" asp-action="About">About</a>
                        </li>
                        @*<li class="nav-item">
                            <a class="nav-link flat-btn" target="_blank" href="https://kic-events.square.site/shop/apparel/INJSIHWIBYY7LG4HENI4NYFL">Merch</a>
                            <a class="nav-link flat-btn" asp-area="" asp-controller="Payment" asp-action="MerchStore" target="_blank">Merch</a>
                        </li>*@
                        <li class="nav-item">
                            <a class="nav-link flat-btn" asp-area="" asp-controller="Payment"
                                asp-action="Purchase">Purchase Tickets</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link flat-btn" asp-area="" asp-controller="Home" asp-action="GetInvolved">Get Involved</a>
                        </li>
                        @*Issue #86 https://github.com/Malechus/kic/issues/86*@
                        @*
                        <li class="nav-item">
                            <a class="nav-link flat-btn" asp-area="" asp-controller="Presenter"
                                asp-action="Presenters">Presenters</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link flat-btn" asp-area="" asp-controller="Vendor"
                                asp-action="Vendors">Vendors</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link flat-btn" asp-area="" asp-controller="Volunteer"
                                asp-action="Volunteers">Volunteers</a>
                        </li>
                        *@
                        <li class="nav-item">
                            <a class="nav-link flat-btn" asp-area="" asp-controller="Home"
                                asp-action="Privacy">Privacy</a>
                        </li>
                       @if (User.IsInRole("Admin") || User.IsInRole("Contributor"))
                        {
                            <li class="nav-item">
                                <a class="nav-link flat-btn" asp-area="" asp-controller="Admin" asp-action="Index">Admin</a>
                            </li>
                        }
                        <span class="nav-spacer"></span>
                        <li>
                            <a href="https://dev.cure.kicevents.com"><img src="~/css/images/CURE/3.png" alt="CURE 2025 Logo, button to CURE web site." width="100px" height="100px" /></a>         
                        </li>
                        <span class="nav-spacer"></span>
                        <span></span>
                        <span class="nav-spacer"></span>
                        @*<li class="nav-item">
                        <a class="nav-link flat-btn" asp-area="" asp-controller="Member"
                        asp-action="Register">Join</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link flat-btn" asp-area="" asp-controller="Member"
                        asp-action="Login">Login</a>
                        </li>*@
                        <li class="nav-item">
                            <a class="nav-link flat-btn" asp-area="" asp-controller="Home" asp-action="Club425">Club 425 Sign Up</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container main-container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - KIC Events LLC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> - <a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a> - <a asp-area="" asp-controller="Admin" asp-action="AdminServices">Admin Services</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
