<div class="container row">
    <div class="col-sm">
        <h4 class="main-title">With Thanks to Our CURE 2025 Sponsors</h4>
    </div>
</div>
<div class="container row">
    <div class="col-sm-4 button-box" style="text-align: center;">
        <a href="https://425vipclub.com/kic/" target="_blank">
            <img class="flat-btn" src="~/css/images/Sponsors/425.png" style="width: 300px; height: 300px;">
        </a>
    </div>
    <div class="col-sm-4 button-box" style="text-align: center;">
        <a href="https://www.athensimpact.com/" target="_blank">
            <img class="flat-btn" src="~/css/images/Sponsors/Athens.png" style="width: 300px; height: 300px;">
        </a>
    </div>
    <div class="col-sm-4 button-box" style="text-align: center;">
        <a href="mailto:anya.arciaga@cbrealty.com">
            <img class="flat-btn" src="~/css/images/Sponsors/Tru.png" style="width: 300px; height: 300px;">
        </a>
    </div>
</div>
<hr />