:root {
  --nav-height: 5rem;
  --nav-logo-height: 3.875rem;
  --color-nav-bg: var(--color-black);
  --color-nav-text: var(--color-white);
}

[data-nav] {
  position: fixed;
  inset: 0;
  width: 100%;
  height: var(--nav-height);
  z-index: 1000;
  @include flex-center;
  font-family: var(--font-forum);
  font-size: 0.875rem;
  background-color: var(--color-nav-bg);
  color: var(--color-nav-text);
  padding: 0 var(--space-4);
  transition: height var(--transition-default);

  &[data-state="compact"] {
    --nav-height: 3.5rem;
    --nav-logo-height: 2.5rem;
  }

  [data-nav-left] {
    margin-right: auto;
    @include flex-center;
  }

  [data-nav-right] {
    margin-left: auto;
    @include flex-center;
    gap: var(--space-2);
    a {
      svg {
        height: 1.125rem;
      }
      svg path {
        transition: var(--transition-default);
        fill: var(--color-accent);
      }
      &:hover svg path {
        fill: var(--color-white);
      }
    }
  }

  [data-nav-logo] {
    transition: height var(--transition-default);
    display: block;
    width: auto;
    height: var(--nav-logo-height);
  }

  ul {
    list-style: none;
    @include flex-center;
    gap: var(--space-3-5);
    transition: padding-left var(--transition-default);
    padding-left: 0;

    a {
      transition: var(--transition-default);
      color: var(--color-white);
      text-decoration: none;
      text-transform: uppercase;
      &:hover {
        text-decoration: underline;
        color: var(--color-accent);
      }
    }
  }

  &[data-state="compact"] {
    height: 3.5rem;

    [data-nav-logo] {
      height: 2.5rem;
    }

    ul {
      padding-left: 1rem;
    }
  }
}

// This is a spacer element to push content down when the nav is fixed
[data-nav-spacer] {
  position: relative;
  display: block;
  width: 100%;
  height: var(--nav-height);
  transition: height var(--transition-default);
}