.page-section {
  padding: var(--space-4) 0;

  + .page-section {
    padding-top: 0;
  }

  > h2, .h2 {
    max-width: 34rem;
    width: 100%;
    padding-bottom: 0.6375rem;
    border-bottom: var(--divider-height) solid var(--color-accent);

    @include breakpoint(xl) {
      max-width: 30rem;
    }

    @include breakpoint(lg) {
      max-width: 26rem;
    }

    @include breakpoint(sm) {
      max-width: 100%;
    }

    &.border-color-alt {
      border-color: var(--color-highlight);
    }
  }

  .content {
    padding: var(--space-2-5) 0;
    > * + * {
      margin-top: var(--space-2);
    }
    p + .button-group {
      margin-top: var(--space-2-5);
    }

    h2, h3 {
      font-size: .9375rem;
      line-height: 1.15625rem;
      letter-spacing: 0.09375rem;
      text-transform: uppercase;
      font-family: var(--font-montserrat);
      font-weight: 600;

      &.italic {
        font-weight: normal;
        font-style: italic;
      }

      + p, + ul {
        margin-top: var(--space-1);
      }
    }

    ul {
      list-style: disc;
      padding-left: var(--space-2-5);

      ul {
        list-style: circle;
        padding-left: var(--space-2-5);
      }
    }

    a:not(.button) {
      text-decoration: underline;
      letter-spacing: 0;
      transition: var(--transition-fast);
  
      &:hover {
        text-shadow: 0 0 0.5px currentColor, 0 0 0.5px currentColor;
      }
    }
  }
}