@use "~/styles/_mixins" as *;

.home {  
  .hero {
    @include flex-center;
    min-height: 21.25rem;
    height: 80vh;
    background-image: url('/images/redesign/Hero-Large.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .content {
      @include flex-center;
      flex-direction: column;
      gap: var(--space-0-5);
    }

    h1 {
      @include flex-center;
      flex-direction: column;
      font-size: 4.125rem;
      letter-spacing: 0.409375rem;
      line-height: 4.5rem;
      gap: var(--space-0-5);

      .display {
        font-size: 2rem;
        letter-spacing: 0.2rem;
        line-height: 2.4375rem;
      }
    }

    .hero-image {
      width: 6.4375rem;
      height: 8.28125rem;
      margin-right: 1.875rem;
    }
  }
}