@use "~/styles/_mixins" as *;

.home {  
  .hero {
    @include flex-center;
    min-height: 21.25rem;
    height: 80vh;
    background-image: url('/images/redesign/Hero-Large.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .content {
      @include flex-center;
      flex-direction: column;
      gap: var(--space-0-5);
    }

    h1 {
      @include flex-center;
      flex-direction: column;
      font-size: 4.125rem;
      letter-spacing: 0.409375rem;
      line-height: 4.5rem;
      gap: var(--space-0-5);

      .display {
        font-size: 2rem;
        letter-spacing: 0.2rem;
        line-height: 2.4375rem;
      }
    }

    .hero-image {
      width: 6.4375rem;
      height: 8.28125rem;
      margin-right: 1.875rem;
    }
  }
}

#home-consent-banner {
  hr {
    height: var(--divider-height);
    background-color: var(--color-accent);
    border: none;
    margin: 0;
    width: 100%;
    max-width: 26rem;
    margin-top: var(--space-1);
    margin-bottom: var(--space-2);

    @include breakpoint(md) {
      max-width: 18rem;
    }
  }

  ul {
    list-style: none;
    margin-top: var(--space-2);
    @include flex-center-column;
    flex-direction: column;
    li {
      margin: 0;
    };
  }
}

#age-gate-dialog {
  border: 0.1875rem solid var(--color-accent);
  padding: 4.4375rem 5.4375rem;
  color: var(--color-white);
  text-align: center;

  .dialog__content {
    @include flex-center-column;
    gap: var(--space-1-5);
  }

  h2.display {
    font-family: var(--font-forum);
    color: var(--color-accent);
    font-weight: normal;
    text-align: center;
  }

  .checkbox label {
    font-family: var(--font-montserrat);
    font-weight: 500;
    text-transform: uppercase;
    color: currentColor;
    
    &:hover {
      cursor: pointer;
    }
  }

  p {
    font: var(--font-body);
    font-weight: 500;
    font-size: 0.9375rem;
    line-height: 1.15625rem;
    letter-spacing: 0.09375rem;
  }

  .button {
    margin-top: var(--space-1);
  }
}