@using KiCWeb.Helpers

<div class="nav-icon-links">
  @foreach (var platform in new[] {
    new { Platform = "instagram", Handle = "kic_llc" },
    new { Platform = "fetlife", Handle = "KIC_Events" },
    new { Platform = "discord", Handle = "mRMPabafgc" }
  })
  {
      if (SocialPlatformMap.TryGetPlatformInfo(platform.Platform, out var info))
      {
          <a href="@($"{info.UrlPrefix}{platform.Handle}")" target="_blank" rel="noopener noreferrer">
              @Html.Raw(info.SvgMarkup)
          </a>
      }
  }
  @if (ViewBag.checkoutCount != null && ViewBag.checkoutCount > 0)
  {
    <a class="checkout-button" value="@ViewBag.checkoutCount" href="/cure/registration/payment" aria-label="Shopping cart with @ViewBag.checkoutCount items">
      <i class="fa-solid fa-cart-shopping"></i>
    </a>
  }
</div>