@using KiCWeb.Helpers

<div class="social-links">
  @foreach (var platform in new[] {
    new { Platform = "instagram", Handle = "kic_llc" },
    new { Platform = "fetlife", Handle = "KIC_Events" },
    new { Platform = "discord", Handle = "mRMPabafgc" }
  })
  {
      if (SocialPlatformMap.TryGetPlatformInfo(platform.Platform, out var info))
      {
          <a href="@($"{info.UrlPrefix}{platform.Handle}")" target="_blank" rel="noopener noreferrer">
              @Html.Raw(info.SvgMarkup)
          </a>
      }
  }
</div>