@model KiCData.Models.WebModels.Feedback

<div class="view-body">
    <div class="row">
        <h1>Contact Us:</h1>
    </div>
    <div class="row">
        <p>You can reach us by email with any questions or concerns. </p>
        <ul style="list-style: none;">
            <li>Event Runners: <a href="mailto:admin@kicevents.com">admin@kicevents.com</a></li>
            <li>Presenter Coordinator: <a href="mailto:presenters@kicevents.com">presenters@kicevents.com</a></li>
            <li>Vendor Coordinator: <a href="mailto:vendors@kicevents.com">vendors@kicevents.com</a></li>
            <li>Volunteer Coordinator: <a href="mailto:volunteers@kicevents.com">volunteers@kicevents.com</a></li>
            <li>Webmaster/Technology Team: <a href="mailto:technology@kicevents.com">technology@kicevents.com</a></li>
        </ul>
    </div>
    <hr />
    <div class="row">
        <h3>Feedback</h3>
        <p>You can fill out this form to send feedback to the event runners. Only the owners of KiCEvents will have access to this feedback, and no identifying information will be included, unless you include your name and email for follow up. If you choose to submit your feedback anonymously, we will not be able to let you know the outcome.</p>
        <div class="form-fillable">
            <form method="post" asp-area="" asp-controller="Gen" asp-action="Contact">
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Text"></label>
                    <textarea asp-for="Text" type="text" class="form-control"></textarea>
                    <span asp-validation-for="Text" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button class="flat-btn" type="submit" value="Submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

@if (ViewBag.Error is not null)
{
    <div id="ValidationErrorModal" class="modal d-flex align-items-center" aria-modal="true" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <p>There was a validation error, please try again.</p>
            </div>
        </div>
    </div>
}
