@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="view-body">
    <h1>@ViewData["Title"]</h1>

    <p><strong>Effective Date:</strong> 12/1/2023</p>

    <p>Welcome to KIC Events LLC!</p>

    <p>This Privacy Policy describes how KIC Events LLC ("we," "us," or "our") collects, uses, and shares information
        about you when you use our website and related services.</p>

    <h2>Information We Collect</h2>

    <h3>1. Personal Information</h3>

    <p>We may collect the following types of personal information when you use our website and purchase event tickets:
    </p>
    <ul>
        <li>Name</li>
        <li>Email address</li>
        <li>Billing and shipping address</li>
        <li>Phone number</li>
        <li>Payment information</li>
    </ul>

    <h3>2. Non-Personal Information</h3>

    <p>We may also collect non-personal information, such as:</p>
    <ul>
        <li>Browser type</li>
        <li>Device type</li>
        <li>IP address</li>
        <li>Cookies (see "Cookies" section below)</li>
    </ul>

    <h2>How We Use Your Information</h2>

    <p>We use the collected information for the following purposes:</p>
    <ul>
        <li>To process and fulfill your ticket orders</li>
        <li>To communicate with you about your orders and events</li>
        <li>To improve our website and services</li>
        <li>To comply with legal obligations</li>
    </ul>

    <h2>Cookies</h2>

    <p>We use cookies to enhance your experience on our website. Cookies are small pieces of data stored on your device.
        You
        can manage your cookie preferences through your browser settings.</p>

    <h2>Third-Party Services</h2>

    <p>We may use third-party services, such as payment processors, to collect and process payment information. These
        third
        parties have their own privacy policies and may collect information directly from you.</p>

    <h2>Data Security</h2>

    <p>We implement reasonable security measures to protect your information from unauthorized access and disclosure.
    </p>

    <h2>Children's Privacy</h2>

    <p>Our website is not intended for use by anyone under 18 years of age. We do not knowingly collect personal
        information
        from individuals under 18.</p>

    <h2>Changes to This Privacy Policy</h2>

    <p>We may update this Privacy Policy from time to time. The latest version will be posted on our website with the
        effective date.</p>

    <h2>Contact Us</h2>

    <p>If you have any questions about this Privacy Policy, please contact us by <a href="mailto:technology@kicevents.com">email.</a></p>

</div>