@page

<div class="view-body">
    <h2 class="main-title">Our Presenters</h2>
    <h4 class="main-title">Check back here for info to be posted as we get it!</h4>
    <hr />
    <div class="container row">
        @foreach(string file in ViewBag.Images)
        {
            string card = "/css/images/Presenters/" + file;
            <div class="container col-sm-6" style="padding: 25px;">
                <img src=@card class="product-card"/>
            </div>
        }
    </div>
</div>