@page

<div class="view-body">
    <h2 class="main-title">Our Presenters</h2>
    <h4 class="main-title">Check back here for info to be posted as we get it!</h4>
    <hr />
    <div class="container row">
        <div class="col-sm-6" style="padding: 25px;">
            <img class="product-card" src="/css/images/Presenters/Dan__Dawn.png" alt="Presenter Card for Dan and Dawn" />
        </div>
        <div class="col-sm-6" style="padding: 25px;">
            <img class="product-card" src="/css/images/Presenters/Devyn_Stone.png" alt="Presenter Card for Devyn Stone" /> 
        </div>
    </div>
    <div class="container row">
        <div class="col-sm-6" style="padding: 25px;">
            <img class="product-card" src="/css/images/Presenters/MagisterNodi__Miss_Red.png" alt="Presenter Card for MagisterNodi and Miss Red" />
        </div>
        <div class="col-sm-6" style="padding: 25px;">
            <img class="product-card" src="/css/images/Presenters/Ms_Reemah.png" alt="Presenter Card for Ms Reemah" />
        </div>
    </div>
    <div class="container row">
        <div class="col-sm-6" style="padding: 25px;">
            <img class="product-card" src="/css/images/Presenters/Rope_Daddy.png" alt="Presenter Card for Rope Daddy" />
        </div>
        <div class="col-sm-6" style="padding: 25px;">
            <img class="product-card" src="/css/images/Presenters/Tisiphone.png" alt="Presenter Card for Tisiphone" />
        </div>
    </div>
</div>