@page

<div class="view-body">
    <h1 class="main-title">Success!</h1>
    <img src="~/css/images/reg-success-meme.jpg" alt="a funny meme indicating the purchase was successful" height="auto" width="max" />
</div>