@page

<div class="view-body">
    <div class="container form-box">
        <h1>Event Guidelines</h1>

        <h2>CONSENT</h2>
        <p>We seek enthusiastic consent - clear headed, mutual, informed co-creation of a “YES” without manipulation or coercion. It is not an absence of a “No”. <strong>NO MEANS NO</strong> It is a complete sentence, no explanations needed.</p>
        <p>The universal safewords are RED and SAFEWORD. If either are used, the scene will be stopped immediately.</p>

        <h2>NAME BADGES & WRISTBANDS</h2>
        <p>All CURE attendees will be required to wear a provided wristband and their name badge at all times. Name badges are not to be shared. If found doing so, the offender and the owner of the badge will be ejected from the event with no refund. (The name badge may be removed for play).</p>

        <h2>HOTEL STAFF & PUBLIC AREAS</h2>
        <p>Hotel staff are not part of the event, and may be offended by open displays of sexuality or kink. Please treat them as vanillas with courtesy and respect.</p>
        <p>All attendees must maintain vanilla space and follow the “grandmother rule” outside of the Event space - This applies to BOTH dress “street legal” and appropriate behavior outside of CURE Event space. If you have to ask if something is inappropriate, it probably is.</p>
        <p>Keep in mind that hallways, elevators, the parking lot, the hotel lobby, hotel restaurant, hotel swimming pool, local businesses or restaurants, etc. are not part of the event, and vanilla behavior and attire are required. Security and door monitors will prevent you from leaving the Event Space until covered appropriately. Basically, no nudity or attire that will draw attention to our event.</p>
        <p>Safety and discretion of the event participants is paramount. Please do not display or "test" toys - floggers, whips, other implements of WIITWD (what it is that we do) outside of the CURE Event Space or around hotel staff that are in our area. This includes not wearing leashes in public areas. Offenders will be asked to leave with no refund. Please be respectful of the hotel staff and help us to give them a reason to bring us back next year.</p>

        <h2>AGE</h2>
        <p>CURE is open to adults, 19 years old (on the first day of the event) or older. A valid government issued ID is required for entrance and registration to any KIC Event. <strong>NO ID = NO Entry; NO Exceptions.</strong></p>

        <h2>CELLPHONES, ELECTRONICS, & PHOTOGRAPHY</h2>
        <p>No cameras (film, digital, et al), cell phones or audio-visual recording equipment, of ANY KIND, are allowed in ANY EVENT SPACE, AT ANY TIME! Confidentiality is imperative and allows for KIC Events to be safe spaces for people who are here to enjoy and learn. People on call should set their phone to vibrate. If you need to make or answer a call, please do so outside the event space.</p>
        <p>Any person seen with any such recording devices may be immediately ejected from the premises without a refund. MOD's or event leaders will ask to see your phone to verify that no pictures, videos, or other recordings were taken without consent. (With the exception of the Official Event Photographer approved by KIC Events Ownership in the designated picture area if chosen to provide.) Furthermore, any non-sanctioned publicly displayed pictures, taken at events, will subject all parties involved to be asked not to return to any KIC Events.</p>

        <h2>SECURITY, PRIVACY, SAFETY, & MANNERS</h2>
        <p>When you arrive, please remember to turn off your GPS location on your phone and disable any automatic location notifications since apps like Facebook, Twitter, Instagram, SnapChat, and other social networks track and share information based on location. If you post your written adventures to Fetlife or other social networks please do not identify the location or fellow attendees. This allows our event and the other attendees in attendance, to stay safe and location not be shared. Everyone’s privacy and security is important, no matter how “out” you are.</p>

        <h2>EVENT SPACE ETIQUETTE & BEHAVIOR</h2>
        <p>Normal Event Space etiquette is required. Watching from a respectful distance is permitted while in the Play Space, but please keep all conversations, laughter, and comments to a minimum. <strong>DO NOT TALK TO or INTERACT WITH</strong> the players while the scene is progressing. (Unless specially and verbally invited by the participants).</p>
        <p>There is a time limit on all equipment of approximately 40 minutes. (Please be courteous of your fellow attendees).</p>
        <p>Do not touch anyone’s toys, gear, or belongings without permission.</p>
        <p>Wax & Messy scenes must be performed in the Wet and Wild room. Please consult a DM (Dungeon Monitor) for the appropriate area if you are not sure of location. Drop cloths, gloves, condoms, tarps, etc must be used for this sort of play.</p>
        <p>Please clean up after your scene. Leave all equipment free of sweat, bodily fluids, wax, lubricants, etc. Bring bodily fluid contamination to the attention of a DM.</p>
        <p>Please refrain from behaviors that interfere with the presenters' classes or another's enjoyment of this event. If you feel you are the subject of rude, inappropriate or non-consensual behavior, please notify KIC Event Staff immediately.</p>

        <h2>Play Not Allowed</h2>
        <p>Gun play, Golden showers (urine), Brown showers (feces), or Rainbow/Roman showers (vomit) are not allowed in this venue.</p>
        <p>Blood play or Intentional breaking of the skin, including needles, scalpels, knives, branding, microbranding, or cell popping, is <strong>STRICTLY PROHIBITED</strong>.</p>

        <h2>Edge Play</h2>
        <p>Please inform any CURE MOD or DM prior to any extreme play, rough play, abductions, or any other scene that appears dangerous or non-consensual. If, as an observer, you see play that appears dangerous or non-consensual, please do not interrupt the scene. Rather, ask any CURE MOD or Volunteer to investigate the scene. In fact, if you have ANY questions about ANY behaviors or scenes at the events, ask any Event MOD or Volunteer for clarification and information.</p>

        <h2>ILLEGAL ACTIVITIES</h2>
        <p>Anything that is against the law in the state of Ohio, or the USA, is still illegal in the CURE KIC Event Space and the host hotel. Prostitution, solicitation, and negotiation of payment for play or sexual services, including use or sale of illegal substances, is ILLEGAL and will not be tolerated. Any violators will be immediately ejected from the premises without refund, removed from CURE, and banned from future KIC Events.</p>
        <p>KIC Events will not knowingly admit to the event any individual who has been convicted of a sexual crime and/or is a registered sex offender in any jurisdiction.</p>

        <h2>ALCOHOL & DRUG POLICY</h2>
        <p>No alcohol, drugs, or illegal substances may be brought into the Event Space. Anyone who is noticeably affected by either alcohol or drugs will be refused admittance or asked to leave.</p>

        <h2>SMOKING</h2>
        <p>There is no smoking inside the Event Space or hotel rooms. This includes e-cigs and vaping. There are available smoking areas on the hotel property, including the Cigar Social area. Ohio law prohibits smoking in the common areas of the hotel.</p>

        <h2>TICKETS, REFUNDS & TRANSFERS</h2>
        <p>No one will be permitted, under any circumstances, to enter the CURE Event Space without advance registration. There are no ticket sales, exchanges, substitutions, refunds, transfers, etc. at the event site by anyone for any reason.</p>
        <h2>DAMAGE TO THE HOTEL</h2>
        <p>Please be cautious of hotel property - including hotel structures, walls, furniture, appliances, fixtures, etc. You will be held personally responsible for any and all damage that occurs as a direct or indirect result of your actions. Report any such damage to the KIC Events Staff.</p>

        <h2>ANIMALS</h2>
        <p>No real animals of any kind are permitted in ANY area of the event, with the exception of service animals. If you require a service animal, please notify KIC Events Owners prior to arrival.</p>

        <h2>EMERGENCIES</h2>
        <p>Please bring any emergencies (medical or otherwise) to the immediate attention of a CURE or KIC Events Staff member.</p>

        <h2>LOST & FOUND</h2>
        <p>If you have found an item that is not yours, please drop it off at the CURE Staff Room or Command Center. If you have lost an item, please check at the CURE Staff Room or Command Center. These rooms are located across from the main event space.</p>

        <h2>VENDING</h2>
        <p>Only approved, CURE vendors may sell anything on the hotel property the weekend of the event and only from designated vendor areas. (Presenters with books must make arrangements with the KIC presenter coordinator.) Vending from cars, hotel rooms, hallways, hotel lobby or other event/hotel locations is not permitted. Unauthorized vendors will be removed from the event and hotel properties.</p>

        <h2>DIVERSITY & INCLUSION</h2>
        <p>KIC Events is committed to being an inclusive, safe, welcoming, and positive space for all alternative lifestyles to express themselves in their kink, gender orientation, sexuality, and relationships as is their preference. The entire event is classified as pansexual and "all gender friendly". Please respect everyone's gender self-identification. If you are not sure about how someone prefers to be referred to, ask politely.</p>
        <p>We strongly believe in the “Law of Mobility” and “Your kink may not be my kink, AND that is OK”. If you see something you do not like, simply remove yourself from the area. Be respectful and courteous to their space by keeping comments to yourself, as you would want to be done to you and your space. We ask that everyone keep an open, non-judgemental mind, try things, learn what you can, and expand your mind to new possibilities.</p>
        <p>KIC Events reserves the right to refuse anyone admission to any KIC Event for <strong>ANY</strong> reason.</p>
    </div>
</div>