@page

<div class="view-body">
    <img class="responsive" src="~/css/images/CURE_2025_Class_Schedule.png" alt="2025 CURE class schedule.">
    <hr />
    <div class="container row">
        <div class="col-sm">
            <div class="class-description-section">
                <h3>Becoming Leather: What You Need to Know</h3>
                <h4>Devyn Stone</h4>
                <div class="class-description">
                    <p>So you caught a whiff of Leather and you’re hungry to learn and discover what being Leather is all about. Where does a novice begin? In this foundation-building class, Devyn Stone guides attendees on what Leather is. While very brief bits of Leather history will be given, this class’s aim is to provide the attendee with a beginner’s working knowledge of what Leather is, examples of Leather traditions, language used in Leather communities, and what it takes to take on Leather as an identifier. This class is welcome to all attendees, regardless of experience, but is tailored to be introductory level.</p>
                </div>

                <h3>Bedroom Bondage 101 &amp; more (shhh... It's Rope for Sex)</h3>
                <h4>Serene_X and GoldenCourtney</h4>
                <div class="class-description">
                    <p>Beginner to Advanced - We got something fun to teach you. Classics and some of that stuff you should never do but you freaking love to anyway. This class is all about the nasty, delightful, sexy time we can have with rope. Serene_X and GoldenCourtney will be pulling out all the bedroom ties, tips and tricks for waterworks and good old fashion down and dirty rope play.</p>
                    <p>All levels of skill sets are welcome to attend for a variety of reasons. Class is designed as a partnered class, though some can be self-tied and there is always value to being in the room. Often people attend without tying partners and there’s an opportunity for them to pair up. This class will require 3-8 hanks of 8-10m rope and will be a co-presented lecture, demo, “see and do” (tie along) class.</p>
                </div>

                <h3>Brat Proof Bondage: Escape-resistant Ties for Squirmy Bottoms</h3>
                <h4>Danarama</h4>
                <div class="class-description">
                    <p>Many bottoms love to struggle against their ropes, just as their Tops like to watch it. Lines that loosen and easily-foiled knots can spoil the fun for both of you. Don't slack off! Learn a variety of strict tie, microbondage, and proven techniques to help thwart escape.</p>
                    <p>Class skill level is intermediate, although all are welcome to attend. This class will require at least 30ft (10m), two 12ft (4m) ropes and unwaxed dental floss. This will be a live demo and class practice.</p>
                </div>

                <h3>Breath Play with Erotic Rope Bondage</h3>
                <h4>Serene_X and GoldenCourtney</h4>
                <div class="class-description">
                    <p>Coming in hot with some edge play rope. Serene_X and GoldenCourtney will be talking about breath play, exploring some techniques outside of the blood choke, and taking a look at a few fun little ties. A one-rope restrictive tie, a couple of variations on a blood choke tie (intensity optional), and if time allows a rather fun chest harness for suspension and torsions, that does as the class title suggests.</p>
                    <p>“Safety” third of course so you can expect a detailed lesson on, establishing a baseline before this type of play, what we need to pay attention to, quick releases, and best practices to work this into your rope sessions.</p>
                    <p>For this class you will NEED: 2-3 full ropes (24-30’) and a couple half ropes. If you’re going in the air make sure to have 5-8 fulls and a couple half ropes.</p>
                    <p>This class is designed as a partnered class. If you don’t have a tying partner that's okay. Lots can be learned by simply, being in the room, socializing, and seeing the demos. All levels of skill sets are welcome to attend for a variety of reasons. Class will be a lecture, demo, “see and do” (tie along) class.</p>
                </div>

                <h3>Chasity, Tease, and Denial</h3>
                <h4>Tisiphone</h4>
                <div class="class-description">
                    <p>Orgasm is a powerful experience. Controlling someone else's ability to orgasm can be equally as powerful. We'll show you how to incorporate chastity as well as teasing &amp; denial into your relationship or play. You'll learn tips to have your sub crawling up a wall with desire as well as how to select and effectively use a chastity device. This can be used as a method of control or simply be for fun. Whether you're interested in long-term chastity or just a bit of teasing, this class will have something new to show you.</p>
                </div>

                <h3>Chocolate Milk and Tears: Dark Age Play</h3>
                <h4>Tisiphone</h4>
                <div class="class-description">
                    <p>Let’s frolic at the edge of age play. Let’s get dark and bring out all of the monsters from under the bed. We’ll cover different ways to make your age play a whole lot meaner and exploit the innocence inherent to age play, while still maintaining the littles headspace. We’ll discuss how this can fit into your dynamic and what special after care that it may entail.</p>
                </div>

                <h3>Combine Polyamory and Power Exchange… Successfully!</h3>
                <h4>DanAndDawn</h4>
                <div class="class-description">
                    <p>Dan and dawn, authors of the books Hearts &amp; Collars and The Polyamory Toolkit lead an interactive class on how to successfully combine polyamory and power exchange! From when the commonly accepted ideals of these relationship types seem to come into conflict, to keeping power exchange healthy in the midst of new relationship energy, as well as the issues of vulnerability and security that power exchange thrives on but polyamory can challenge, we will give you actual tools you can implement to assist all your relationships.</p>
                </div>

                <h3>Different Strokes: Advanced &amp; Creative Caning</h3>
                <h4>Danarama</h4>
                <div class="class-description">
                    <p>There's more to caning than meets the ass. Danarama shares dozens of innovative techniques for using canes in dynamic scenes, from playful and artistic to excruciating. Highlights include: selecting canes and strokes for different folks, caning from warm-up through aftercare, advanced tricks and protocols, and incorporating other toys.</p>
                    <p>Class skill level is intermediate, although all are welcome to attend. Experience a live demo and slide presentation during this class.</p>
                </div>

                <h3>Emotional Sadism &amp; Masochism 101</h3>
                <h4>MagisterNodi and Miss_R3d</h4>
                <div class="class-description">
                    <p>Sadism and masochism come in a variety of different styles. Whether it’s from the sting of a whip or the thud of rough body play, we find delight in giving or receiving pain. But not all pain leaves physical marks. Introduction to ES&M is an exploration of mental pain and emotional anguish. Jason and Red will explore the 5 W’s of Emotional Sadism and Masochism using audience participation to build a hypothetical scene. The class will conclude with a brief demonstration based on the hypothetical scene.</p>
                </div>

                <h3>Flog Me Tender… bits</h3>
                <h4>MsBrendaOH and -arcane-</h4>
                <div class="class-description">
                    <p>This class is for those who have some skill and delicacy wielding a flogger, because we are going to be flogging the tender bits. That’s right, cocks, balls, pussies and boobs! We will discuss safety, where to flog, where not to flog, how not to flog and basically how to beat your bottoms… front bottom? Being an equal opportunity perv, arcane will discuss both boy and girl bits and how to excite (or abuse) them safely!</p>
                </div>

                <h3>Got Consent for Kink</h3>
                <h4>NCSF</h4>
                <div class="class-description">
                    <p>Got Consent? Consent for individuals and groups, discussing negotiation, dealing with consent incidents and legal issues to consider.</p>
                </div>

                <h3>Gravity is Your Toy: Partial Suspensions</h3>
                <h4>MsReemah</h4>
                <div class="class-description">
                    <p>Many have given the insinuation that partial suspensions are easier. They definitely are not (especially not for your bottom)! We will explore how to transition through a sequence while maintaining parts of the body on the ground, at all times. This class will focus on using gravity to impact the experience of the scene, creating connectedness with your person, and psychological foolery.</p>
                </div>

                <h3>Inspirational Sadomasochism</h3>
                <h4>Air</h4>
                <div class="class-description">
                    <p>Woo hoo! Risk-aware, absurdity-driven, creative, and hilariously torturous predicament play, for all levels and all hoomans, no partner required, but always welcome. This class is demo/discussion of predicament play with rope…. and a few other things I’ve picked up along the way. I will be demonstrating a variety of self-tied predicaments, but just b/c I’m unpartnered, you don’t have to be! This class is intended for anyone interested in (or obsessed with) predicament play! As is to be expected in my classes, the demo will be entertaining, creative and ridiculous... But I promise, we won’t let the shenanigans deter us from learning a ton and I’m confident everyone will leave with new skills to practice and things to try!!</p>
                    <p>CLASS FORMAT: Demo/Discussion/Participants Play</p>
                    <p>SKILL LEVEL: Beginner+ for floorplay and Intermediate for suspension play</p>
                    <p>PRE-REQS: Floorplay: Working knowledge of single column tie and basic rope frictions. Suspension: Safe rope suspension practices and upline management necessary. Everyone: Quality negotiation and communication skills.</p>
                    <p>TO BRING: Rope kit, cutters, preferred suspension equipment if intending to suspend, any other preferred items for predicament play- toys, vibrators, sensory items, paracord, blindfold, gags, clamps, clothespins, or perhaps some fun hardware or dollar store finds, you get the point!</p>
                    <p>INTENDED AUDIENCE: Content appropriate for self-tiers and tying pairs or groups. Auditors welcome too!</p>
                    <p>Heads Up This is not a follow-the-specific-pattern class.</p>
                </div>

                <h3>Introduction to BDSM</h3>
                <h4>DanAndDawn</h4>
                <div class="class-description">
                    <p>Dan and dawn, a lifestyle couple since 2001, will share with you everything you need to get started on your BDSM journey! From basic “how to’s” with many of the most common BDSM toys (such as floggers, paddles, and simple bondage) to topics such as ”setting up your scene” and the difference between BDSM and Ds. They will discuss not only the play itself, but also the very important aspects to take place before a “scene” (such as negotiation and safety) as well as after a scene (aftercare, sub drop, and keeping your toys clean). They will demonstrate many toys as they share their experience and some ideas of what to expect – and what to avoid – as people get started in BDSM, either as a bedroom activity or as active participants in the lifestyle.</p>
                </div>

                <h3>Keep it Tight: A Hands-on Exploration of Erotic Mummification</h3>
                <h4>ApostropheRayne</h4>
                <div class="class-description">
                    <p>Do you dream of being wrapped so tightly that you can’t move? Do you fantasize about wrapping your loyal play things in layer after layer till they are at your mercy? Then this class in mummification is for you! Whether you are an advanced mummificator or a first-time wrapper,
                    <p>Whether you are an advanced mummificator or a first-time wrapper, this hands-on class has something for you. We will explore different wrapping techniques and how to piece together a sensual scene.</p>
                    <p>We will also discuss the tools and supplies needed to not only safely wrap, but to also unwrap your partner quickly. Come prepared to join me on the floor to learn how to keep it tight.</p>
                </div>

                <h3>Queen Takes Knight</h3>
                <h4>MsBrendaOH and -arcane-</h4>
                <div class="class-description">
                    <p>The pornography industry commonly depicts submissives as lacking power, but frequently in our communities we find a strong dominant personality paired with an equally strong submissive one. Join us as we explore one way of viewing such relationships and how they might function.</p>
                    <p>We will be referring to the codes which knights were expected to follow, and discussing how to use these values to mold a modern day power exchange relationship.</p>
                    <p>While the title may suggest strict gender roles, the concepts we explore in this presentation are not gender or role specific. Our goal is to explain an alternative way of framing a Master slave relationship which celebrates and empowers both roles.</p>
                </div>

                <h3>Sensory Manipulation: An Immersive Experience</h3>
                <h4>MagisterNodi and Miss_R3d</h4>
                <div class="class-description">
                    <p>Dissecting the senses and exploring them from their highest to their lowest, we will transcend mere deprivation to discover the beautifully horrific disarray of true manipulation.</p>
                    <p>This interactive 4D experience will make you reconsider everything you thought you knew about how you experience the world. Strip yourself of gags, blindfolds, and everyday kink toys and step outside the box.</p>
                </div>

                <h3>Smashing Stigma: Mental Health and Kink</h3>
                <h4>DevynStone</h4>
                <div class="class-description">
                    <p>Despite growing awareness of mental health in kink and leather circles, stigma around various kinds of neurodivergence remains. Devyn Stone, founder and producer of THRIVE, reviews the history of consent and neurodivergence in kink, from RACK and SSC to the DSM.</p>
                    <p>He invites participants to explore the diversity of the human mind in its myriad of forms, even those more feared and stigmatized than others.</p>
                </div>

                <h3>The Floor is Not Lava</h3>
                <h4>Air</h4>
                <div class="class-description">
                    <p>A self-tying exploration for anyone who’s not quite ready for suspension or partnered tying, or who simply doesn’t have another person or hard point around but NEEDS TO TIE SOMETHING NOW! This class celebrates the joy and freedom of exploring with just some rope and your own sweet sweet body. Whether it’s for playful self-care, practicing new techniques, or letting your creativity flow wherever inspiration strikes, this is all about having fun, experimenting, and embracing embodiment through rope. Come ready to play, explore, and dive into the art of solo tying!</p>
                    <p>CLASS FORMAT: Demo/Discussion/Participants Play</p>
                    <p>SKILL LEVEL: Beginner+</p>
                    <p>PRE-REQS: Working knowledge of single column tie and basic rope frictions encouraged.</p>
                    <p>TO BRING: Tying participants will need at least 6 hanks of rope, cutters (*must be able to keep on person if self-tying), any self-care items you prefer, blanket or yoga mat if desired, spotter encouraged but not necessary.</p>
                    <p>INTENDED AUDIENCE: Content developed for self-tiers, but appropriate for tying pairs or groups, and auditors welcome!</p>
                    <p>Heads Up This is not a follow-the-specific-pattern class.</p>
                </div>

                <h3>Tying Different Bodies</h3>
                <h4>MsReemah</h4>
                <div class="class-description">
                    <p>Every single body is built differently, physically and mentally. We will discuss and conceptualize things we should always consider and practice when tying all genders, colors, and sizes.</p>
                    <p>This class was purposely created to directly address inclusivity and diversity in the rope community.</p>
                    <p>This is a hands on class.</p>
                    <p>Please bring at least two hanks of rope.</p>
                </div>
        </div>
    </div>
</div>