@page

<div class="view-body">
    <div class="container row">
        <div class="col">
            <img src="~/css/images/ticket-1.png" alt="Ticket types" class="responsive" />
        </div>
    </div>
    <div style="min-height: 10px;"></div>
    <div class="container row">
        <div class="col">
            <img src="~/css/images/ticket-2.png" alt="Ticket types" class="responsive" />
        </div>
    </div>
    <div style="min-height: 10px;"></div>
    <div class="container row">
        <div class="col">
            <img src="~/css/images/ticket-3.png" alt="Ticket types" class="responsive" />
        </div>
    </div>
</div>