@page

<div class="view-body">
    <h2 class="main-title">Vendors</h2>
    <h4 class="main-title">These are the vendors who will be selling their products at CURE. Keep an eye on this page for more names to be added.</h4>
    <hr />
    <div class="container row">
        <div class="col-sm-6" style="padding: 25px;" >
            <img src="~/css/images/Vendors/Drool.png" alt="Drool Apparel product card" class="product-card" />
        </div>
        <div class="col-sm-6" style="padding: 25px;">
            <img src="~/css/images/Vendors/Blush_Indrustries.png" alt="Blush Industries product card" class="product-card" />
        </div>
    </div>
    <div class="container row">
        <div class="col-sm-6" style="padding: 25px;">
            <img src="~/css/images/Vendors/LustCraft.png" alt="Letti Lustcraft product card" class="product-card" />
        </div>
        <div class="col-sm-6" style="padding: 25px;">
            <img src="~/css/images/Vendors/Tommi_Terror.png" alt="Tommi Terror product card" class="product-card" />
        </div>
    </div>
</div>