@page

<div class="view-body">
    <h2 class="main-title">Vendors</h2>
    <h4 class="main-title">These are the vendors who will be selling their products at CURE. Keep an eye on this page for more names to be added.</h4>
    <hr />
    <div class="container row">
        @foreach(string file in ViewBag.Images)
        {
            string card = "/css/images/Vendors/" + file;
            <div class="container col-sm-6" style="padding: 25px;">
                <img src=@card class="product-card"/>
            </div>
        }
    </div>
</div>