@page
@model kicweb.Views.Home.About

<div class="view-body">
    <div class="row">
        <div class="text-center">
            <h2>About KIC Events</h2>
            <h5>Consent is the Foundation of Everything We Do</h5>
            <p><b>Consent is:</b></p>
            <ol>
                <b>
                <li>Freely given.</li>
                <li>Revocable.</li>
                <li>Informed.</li>
                <li>Enthusiastic.</li>
                <li>Sober.</li>
                </b>
            </ol>
            <br />
            <br />
            <p>Our mission is to provide a safe space for all alternative lifestyles, to express themselves in their
                kink, sexuality, and relationships as they seem fit, while continuing to educate on consent,
                negotiation, and other skills/fetishes/kinks in the BDSM lifestyle. </p>
            <p>We believe strongly in the “law of mobility” and “your kink may not be their kink, and that’s ok”. If you
                see something you do not like, simply walk away. Be respectful and courteous to their space by keeping
                comments to yourself, as you would want to be done to you and your space. Keep an open, non-judgmental
                mind, try things, learn what you can, and expand your mind to new possibilities.</p>
            <p>KIC aims for a safe space for all attendees to come together to express themselves and negotiate full
                consent of their desires. KIC supports fully aware, informed, consensual negotiations and the principles
                of SSC (Safe, Sane, and Consensual)as well as RACK (Risk Aware Consensual Kink). We also recognize red
                and SAFEWORD as universal safe words. No means No. It is a complete sentence, no explanations are needed.
            </p>
            <p>Kink In Columbus is a group local to Columbus Ohio, specializing in hosting alternative lifestyle
                education and play events. KIC Events was created by two local kinksters, who enjoy all the aspects that
                living an alternative lifestyle offers. Be it polyamory/ethical non-monogamy relationships to kink/BDSM.
                This group welcomes all walks of the lifestyle and encourages people to express themselves in whatever
                their kink is. </p>
            <p>KIC Events desires to create an environment of learning, excitement, inclusion, and support using our
                knowledge from being staff and volunteering at past events hosted by Adventures in Sexuality, Guilty
                Pleasures, and the Columbus Space. KIC Events will include education, demo stations, space to express
                yourself sexually, and furniture from AISKink Labs and Guilty Pleasures to play on. </p>
            <p> A space for kinksters has been missing since the Pandemic and we want to bring our community together
                one party at a time. Helping to rebuild and grow the community, connection, energies that come from in
                person events. Come KIC it with us and see for yourself.</p>
            <p>As we want to help others learn and grow, we as individuals and as a group feel and believe we can and
                should learn and grow as well. Please share with us as we want to share with to you to continue our
                growth. </p>
        </div>
        
    </div>
    <div class="row" id="event-rules">
        <div class="text-center">
            <h2>Rules</h2>
            <h4>Age and Restrictions</h4>
            <p>
                At this time, KIC Events are open to adults, 21 years of age or older. A registration MUST be filled out
                online AND be APPROVED PRIOR to arrival at the venue. Registrations must be completed by 8am the day of
                the party. There will be NO at the door registrations. Payment is not required at registration. Payment
                must be made prior to the event or at the door. A valid government issued ID is required for entrance to
                any event. <strong>NO ID = NO ENTRY; NO EXCEPTIONS.</strong>
            </p>
            <br />
            <h4>Alcohol/Drug Policy</h4>
            <p>
                No alcohol, drugs, illegal substances and/or firearms may be brought to a KIC Event. Anyone who is
                noticeably affected by either alcohol or drugs will be refused admittance or asked to leave by Staff
                immediately.
            </p>
            <br />
            <h4>Illegal Activites</h4>
            <p>
                Any activity illegal in the State of Ohio or the US is prohibited at KIC Events. This includes
                soliciting, prostituting, negotiating payment for play or sexual services, use or sale of substances,
                etc. Furthermore, there are no fire arms or weapons intended to cause physical harm at events. KIC
                Events will not knowingly allow attendees to attend any function who have been convicted of a violent or
                sexual crime and/or is a registered sex offender.
            </p>
            <br />
            <h4>Dress Code/Attire/Clothing</h4>
            <p>
                KIC Events dress code will be specific to the venue and/or event hosting. Specific details will be posted
                in the event description.
            </p>
            <br />
            <h4>Cameras/Cell Phones</h4>
            <p>
                At no time are pictures and/or videoing allowed by film, digital, cellphone, recoding device, etc at a
                KIC Event. Cellphones are strongly encouraged to be left in your vehicle. If you have to have a cell
                phone on you, it is to be on vibrate and kept in a bag or pocket. If you need to make or respond to a
                call or text, use the posted designated areas to do so. Any person seen with a device may be ejected
                from the event.
            </p>
            <br />
            <h4>Smoking/Vaping</h4>
            <p>
                Smoking and/or vaping is prohibited indoors at KIC Events. Smoking, including cigar play, is allowed in
                designated smoking areas dependent on venue.
            </p>
        </div>
    </div>
</div>