@page

<div class="view-body">
    <h1>Get Involved</h1>
    <br />
    <hr />
    <br />
    <h4>Volunteers</h4>
    <p>It takes a large team to make our events work. If you'd like to be a part of what we do, there are many ways to be involved. Every event requires a number of volunteers to complete the myriad tasks required - everything from loading our furniture in and out, serving drinks, tending bar, keeping the space safe, and even service topping for attendees. We are also constantly on the lookout for new presenter and vendors to take part in our events and build the community. </p>
    <br />
    <p>If you'd like to volunteer at one of our events, send an email to <a href="mailto:volunteers@kicevents.com">volunteers@kicevents.com</a> and our volunteer coordinator will reach out. The following volunteer positions are needed:</p>
    <ul>
        <li>Door person/greeter - checks people in by verifying they have the appropriate wristband for upstairs.  Sell and complete Waiver Cards. Also will hand out waivers to attendees to fill out and review for completion. Verifying information on their personal identification card. Discretion and privacy are key!</li>
        <li>"Bartender" - Alcohol is not allowed at KIC events, although we  have water, soda, juices, and snacks available. You are the go to person for questions and knowledge about the community, events, kinks, and making people feel safe and welcomed at our events. </li>
        <li>Dungeon Monitor - Actively walk the main play space, outside patio, and sexy time area to help ensure attendees are following the rules of the event and engaging in safe consensual play.</li>
        <li>Service Top - Effectively, safely, and consensually discuss, talk about, and/or perform scenes for attendees who are wanting to explore and experience what is being offered at the station. At this time we are offering the below stations:
            <ul>
                <li>Fire - wand and cupping</li>
                <li>Electricity - using GP kits, conduct electric through the body and use various implements to generate sensations on various parts of the body.</li>
                <li>Corporal - impact station using any tool or implement that can be used on the body, most commonly floggers, paddles, and sometimes canes.</li>
            </ul>
        </li>
    </ul>
    <br />
    <h4>Presenters</h4>
    <p>If you would like to share a class or presentation with KIC, please send an email to <a href="mailto:presenters@kicevents.com">presenters@kicevents.com</a> with the following information and we will get in touch:</p>
    <ul>
        <li>Your name</li>
        <li>Your Fet/scene name</li>
        <li>Your bio</li>
        <li>What classes you want to teach or facilitate</li>
        <li>Any other info you think we should have</li>
    </ul>
    <br />
    <h4>Vendors</h4>
    <p>If you would like to be a vendor at one of our events, please send an email to <a href="mailto:vendors@kicevents.com">vendors@kicevents.com</a> with the following information:</p>
    <ul>
        <li>Your name</li>
        <li>Your business name</li>
        <li>Your Fetlife profile or other social media</li>
        <li>Type and price range of products you sell</li>
        <li>Any other info you think we should have</li>
    </ul>
</div>