@page

<div class="view-body">
    <h1>Get Involved</h1>
    <br />
    <hr />
    <br />
    <p>It takes a large team to make our events work. If you'd like to be a part of what we do, there are many ways to be involved. Every event requires a number of volunteers to complete the myriad tasks required - everything from loading our furniture in and out, serving drinks, tending bar, keeping the space safe, and even service topping for attendees. We are also constantly on the lookout for new presenter and vendors to take part in our events and build the community. </p>
    <br />
    <p>If you'd like to volunteer at one of our events, send an email to <a href="mailto:volunteers@kicevents.com">volunteers@kicevents.com</a> with the following information:</p>
    <ul>
        <li>What area(s) you would like to volunteer for:
            <ul>
                <li>Bartender</li>
                <li>Door Person/Greeter</li>
                <li>Dungeon Monitor</li>
                <li>Service Top (corporal, fire, or electric)</li>
            </ul>
        </li>
        <li>Your experience or level of knowledge</li>
        <li>Your email address</li>
        <li>Your Fet/scene name</li>
        <li>Optionally, your phone number</li>
    </ul>
    <br />
    <p>If you would like to share a class or presentation with KIC, please send an email to <a href="mailto:presenters@kicevents.com">presenters@kicevents.com</a> with the following information and we will get in touch:</p>
    <ul>
        <li>Your name</li>
        <li>Your Fet/scene name</li>
        <li>Your bio</li>
        <li>What classes you want to teach or facilitate</li>
        <li>Any other info you think we should have</li>
    </ul>
    <br />
    <p>If you would like to be a vendor at one of our events, please send an email to <a href="mailto:vendors@kicevents.com">vendors@kicevents.com</a> with the following information:</p>
    <ul>
        <li>Your name</li>
        <li>Your business name</li>
        <li>Your Fetlife profile or other social media</li>
        <li>Type and price range of products you sell</li>
        <li>Any other info you think we should have</li>
    </ul>
</div>