
@model KiCData.Models.WebModels.IndexViewModel

<div class="view-body">
    <h1 class="main-title">Welcome Home</h1>
    <hr />
    <div class="landing-page">
        <div class="row">
            <div class="text-center">
                <h4>Welcome to KIC Events</h4>
                <h5>We are Kinky In Columbus</h5>
                <hr />
                <p>Kinky In Columbus is your home for sex positive kink parties and events in Columbus, Ohio.</p>
                <p>We host monthly parties that combine education and fetish fun with a focus on community building. We also host weekend long intensives, New To Kink classes and munches, and showcase area vendors.</p>
                <p>We believe strongly in building and maintaining a safe, informed, and healthy community. We are inclusive of all identities and lifestyles, and consent is the basis for everything we do. We offer education on a variety of topics, and offer experiential demonstrations of corporal play, electric play, and fire play.</p>
                <p>Learn about who we are and what we do on our <a asp-area="" asp-controller="Gen" asp-action="About">About</a> page.</p>
                <p>Learn how to attend our events and purchase tickets <a asp-area="" asp-controller="Payment" asp-action="Purchase">here.</a></p>
                <br />
                <p><b>If you would like to share feedback about our events, or an issue at our events, please use the form <a asp-area="" asp-controller="Gen" asp-action="Contact">here.</a> </b></p>
                <br />
                <br />
                <h5>Consent is Required, Consent is Sexy</h5>
                <p><b>Consent is:</b></p>
                <ul style="list-style: none;"><b>
                    <li>Enthusiastic.</li>
                    <li>Clear-Headed.</li>
                    <li>Mutual.</li>
                    <li>Informed.</li>
                    <li>Without Manipulation or Coercion.</li>
                </b></ul>
            </div>
        </div>
        <br />
        <div class="container row text-center">
            <h5><a href="https://discord.gg/mRMPabafgc">CLICK HERE</a> or scan the QR code to join the KIC Events Discord Server, for all the latest information!</h5>
            <div style="padding: 25px;">
                <img style="max-width: 250px; height: auto; color: rgba(255, 255, 255, .8) !important; box-shadow: 0px 0px 20px 10px #FFCD36;" src="/css/images/KPSQR.png" alt="QR Code representing https://discord.gg/mRMPabafgc" />
            </div>
        </div>
        <hr />
        <br />
        <div class="row" id="event-carousel" style="align-items:center;">
            <div class="text-center">
                <h5>Upcoming Events</h5>
                <br />
            </div>
            <div class="container row" style="align-items:center; padding-left:10%;">
                @foreach (Event e in ViewBag.Events)
                {
                    <div class="container col-sm-4">
                        <div class="ad-card">
                            <img src=@e.ImagePath alt=@e.Name onerror="this.style.display='none'" style="width:100%;" />
                            <div style="padding:20px;">
                                <p class="ad-card">@e.Name</p>
                                <a target="_blank" href=@e.Link class="ad-card">Check It Out</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
            @*<div class="container row" style="align-items:center; padding-left: 10%;">
                <div class="container col-sm-4">
                    <div class="ad-card">
                        <img src="~/css/images/august-party.png" alt="KIC August Party" onerror="this.style.display='none'" style="width: 100%;">
                        <div style="padding: 20px;">
                            <p class="ad-card">KIC August Party</p>
                            <a target="_blank" href="https://fetlife.com/events/1450544" class="ad-card">Check It Out</a>
                        </div>
                    </div>
                </div>
                <div class="container col-sm-4">
                    <div class="ad-card">
                        <img src="~/css/images/kic-kc .png" alt="KIC: Kinky? Curious?" onerror="this.style.display='none'" style="width: 100%;">
                        <div style="padding: 20px;">
                            <p class="ad-card">KIC September Friday Party</p>
                            <a target="_blank" href="https://fetlife.com/events/1548037" class="ad-card">Check It Out</a>
                        </div>
                    </div>
                </div>
                <div class="container col-sm-4">
                    <div class="ad-card">
                        <img src="~/css/images/kic-kc .png" alt="KIC: Kinky? Curious?" onerror="this.style.display='none'" style="width: 100%;">
                        <div style="padding: 20px;">
                            <p class="ad-card">KIC September UNCON</p>
                            <a target="_blank" href="https://fetlife.com/events/1563526" class="ad-card">Check It Out</a>
                        </div>
                    </div>
                </div>
                <div class="container col-sm-4">
                    <div class="ad-card">
                        <img src="~/css/images/kic-kc .png" alt="KIC: Kinky? Curious?" onerror="this.style.display='none'" style="width: 100%;">
                        <div style="padding: 20px;">
                            <p class="ad-card">KIC September Saturday Party</p>
                            <a target="_blank" href="https://fetlife.com/events/1548041" class="ad-card">Check It Out</a>
                        </div>
                    </div>
                </div>
                <div class="container col-sm-4">
                    <div class="ad-card">
                        <img src="~/css/images/kic-kc .png" alt="KIC: Kinky? Curious?" onerror="this.style.display='none'" style="width: 100%;">
                        <div style="padding: 20px;">
                            <p class="ad-card">KIC October Party</p>
                            <a target="_blank" href="https://fetlife.com/events/1548043" class="ad-card">Check It Out</a>
                        </div>
                    </div>
                </div>
            </div>*@
        </div>
    </div>
    <br />
    <hr />
    <br />
    <div id="resources">
        <div class="text-center">
            <h4>Resources</h4>
            <p><b>There are a number of resources available to the community, some of them are listed here.</b></p>
            <p>This is not a comprehensive list, and listing a resource here does not indicate that KICEvents LLC endorses the organization or resource listed. This is intended simply to provide a starting point to find community resources.</p>
            <br />
            <p><b>National Coalition for Sexual Freedom</b></p>
            <p>The NCSF is committed to creating a political, legal and social environment in the US that advances equal rights for consenting adults who engage in alternative sexual and relationship expressions. The NCSF aims to advance the rights of, and advocate for consenting adults in the BDSM-Leather-Fetish, Swing, and Polyamory Communities. We pursue our vision through direct services, education, advocacy, and outreach, in conjunction with our partners, to directly benefit these communities.</p>
            <ul>
                <li><a href="https://ncsfreedom.org/key-programs-2/consent-counts/">Consent Counts</a></li>
                <li><a href="https://www.kapprofessionals.org/">Kink Aware Professionals</a></li>
                <li><a href="https://ncsfreedom.org/educational-outreach-overview/">Education Outreach</a></li>
                <li><a href="https://ncsfreedom.org/media-outreach/">Media Outreach</a></li>
            </ul>
            <br />
            <p><b>Equitas Health</b></p>
            <p>"Equitas Health is a nonprofit community healthcare system founded in 1984. We are one of the nation’s largest LGBTQ+ and HIV/AIDS-serving organizations, serving tens of thousands of patients in Ohio, Texas, Kentucky, and West Virginia."</p>
            <p><a href="https://equitashealth.com/find-a-location/">Find a provider.</a></p>
        </div>
    </div>
</div>

@if(!ViewBag.AgeGateCookieAccepted)
{
    <div id="AgeGateModal" class="modal">
        <div class="modal-content">
            <p>This site is intended only for persons 18 years of age or older.</p>
            <p>This site features content related to consensual adult sexuality. We do not condone or support abuse - in any form.</p>
            <p>By using this site you affirm that you are of age and the viewing of sexually explicit material is legal in your country, state, or city. </p>
            <form method="post" asp-area="" asp-controller="Home" asp-action="Index">
                <div class="form-group">
                    <input asp-for="Consent" type="checkbox" />
                    <label asp-for="Consent">Check here if you consent.</label>
                </div>
                <div class="form-grou">
                    <button class="flat-btn" type="submit" value="Accept">Accept</button>
                </div>
            </form>
        </div>
    </div>
}