@model Cure.Models.BetaViewModel


<div class="view-body">
    <div class="container row">
        <h1 class="main-title">Registration Opens In</h1>
        <h2 id="countdown"></h2>        
    </div>
    <div class="conainer row" style="height:50px;"></div>
    <div class="container row">
        @if(ViewBag.Beta == true)
        {
            <div class="col-sm-6 button-box">
                <a asp-area="" asp-controller="Home" asp-action="Registration">
                    <img class="flat-btn-blocked" src="~/css/images/reg_button.png" alt="Button linking to registration page." width="400px" height="400px" />
                </a>
            </div>
        }
        else
        {
            <div class="col-sm-6 button-box">
                <img class="flat-btn-blocked" src="~/css/images/reg_button.png" alt="Button linking to registration page." width="400px" height="400px" />
            </div>
        }
        <div class="col-sm-6 button-box">
            <a href="https://kic-events.square.site/shop/apparel/GC4LGESG3OVGP6H7PHDCO6PY" target="_blank">
                <img class="flat-btn" src="~/css/images/merch_button.png" alt="Button linking to merch store." width="400px" height="400px" />
            </a>
        </div>
    </div>
    <div class="conainer row" style="height:50px;"></div>
    <div class="container row">
        <div class="col-sm-3 button-box">
            <a asp-area="" asp-controller="Home" asp-action="Presenters">
                <img class="flat-btn" src="~/css/images/pres_button.png" alt="Button linking to presenters list." width="200px" height="200px" />
            </a>
        </div>
        <div class="col-sm-3 button-box">
            <a asp-area="" asp-controller="Home" asp-action="Vendors">
                <img class ="flat-btn" src="~/css/images/vend_button.png" alt="Button linking to vendors list." width="200px" height="200px" />
            </a>
        </div>
        <div class="col-sm-3 button-box3">
            <a asp-area="" asp-controller="Home" asp-action="Schedule">
                <img class="flat-btn" src="~/css/images/sched_button.png" alt="Button linking to event schedule." width="200px" height="200px" />
            </a>
        </div>
        <div class="col-sm-3 button-box">
            <a asp-area="" asp-controller="Home" asp-action="Rules">
                <img class="flat-btn" src="~/css/images/rules_button.png" alt="Button linking to event rules." width="200px" height="200px" />
            </a>
        </div>
    </div>
    <div class="conainer row" style="height:50px;"></div>
    <div class="container row">
        <div class="form-fillable" style="max-width: 400px; text-align: center; margin: 0 auto;">
            @using (Html.BeginForm())
            {
                <div class="form-control flat-btn">
                    @Html.LabelFor(m => m.BetaCode)
                    @Html.TextBoxFor(m => m.BetaCode, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.BetaCode, "", new { @class = "test-danger" })
                </div>
                <div class="form-control flat-btn">
                    <input class="flat-btn" type="Submit" value="Submit" />
                </div>
            }
        </div>
    </div>
</div>

<script>
    // Set the date we're counting down to
    var countDownDate = new Date("Sep 7, 2024 00:00:00").getTime();

    // Update the count down every 1 second
    var x = setInterval(function () {

        // Get today's date and time
        var now = new Date().getTime();

        // Find the distance between now and the count down date
        var distance = countDownDate - now;

        // Time calculations for days, hours, minutes and seconds
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        // Display the result in the element with id="countdown"
        document.getElementById("countdown").innerHTML = days + "d " + hours + "h "
            + minutes + "m " + seconds + "s ";

        // If the count down is finished, write some text
        if (distance < 0) {
            clearInterval(x);
            document.getElementById("countdown").innerHTML = "Registration Now Open";
        }
    }, 1000);
</script>
