@model KiCData.Models.WebModels.IndexViewModel


<div class="view-body">
    <div class="container row">
        <h2 id="countdown"></h2>        
    </div>
    <div class="conainer row" style="height:50px;"></div>
    <div class="container row">
        <div class="col-sm-6 button-box">
            <a asp-area="" asp-controller="GenController" asp-action="Registration">
                <img class="flat-btn-blocked" src="~/css/images/reg_button.png" alt="Button linking to registration page." width="400px" height="400px" />
            </a>
        </div>
        <div class="col-sm-6 button-box">
            <a href="https://kic-events.square.site/shop/apparel/GC4LGESG3OVGP6H7PHDCO6PY" target="_blank">
                <img class="flat-btn" src="~/css/images/merch_button.png" alt="Button linking to merch store." width="400px" height="400px" />
            </a>
        </div>
    </div>
    <div class="conainer row" style="height:50px;"></div>
    <div class="container row">
        <div class="col-sm-3 button-box">
            <a asp-area="" asp-controller="GenController" asp-action="Presenters">
                <img class="flat-btn" src="~/css/images/pres_button.png" alt="Button linking to presenters list." width="200px" height="200px" />
            </a>
        </div>
        <div class="col-sm-3 button-box">
            <a asp-area="" asp-controller="GenController" asp-action="Vendors">
                <img class ="flat-btn" src="~/css/images/vend_button.png" alt="Button linking to vendors list." width="200px" height="200px" />
            </a>
        </div>
        <div class="col-sm-3 button-box3">
            <a asp-area="" asp-controller="GenController" asp-action="Schedule">
                <img class="flat-btn" src="~/css/images/sched_button.png" alt="Button linking to event schedule." width="200px" height="200px" />
            </a>
        </div>
        <div class="col-sm-3 button-box">
            <a asp-area="" asp-controller="GenController" asp-action="Rules">
                <img class="flat-btn" src="~/css/images/rules_button.png" alt="Button linking to event rules." width="200px" height="200px" />
            </a>
        </div>
    </div>
    <div class="container row" style="min-height: 50px;"></div>
    <div class="container row">
        <div class="col-sm align-content-center align-text-center">
            <h2 class="main-title">Columbus' Ultimate Relationship Exploration</h2>
            <p><b>CURE is a 2 day hotel event in northern Columbus</b></p>
            <p>(Exact address will be given to attendees once they purchase their ticket(s) and receive registration confirmation.)</p>
            <br />
            <p>Mark your calendars, as the dates of the event will be</p>
            <p><b>January 10-11, 2025</b></p>
            <br />
            <br />
            <h5><a href="https://discord.gg/mRMPabafgc">CLICK HERE</a> or scan the QR code to join the KIC Events Discord Server, for all the latest information!</h5>
            <div style="padding: 25px;">
                <img style="max-width: 250px; height: auto; color: rgba(255, 255, 255, .8) !important; box-shadow: 0px 0px 20px 10px #FFCD36;" src="/css/images/KPSQR.png" alt="QR Code representing https://discord.gg/mRMPabafgc" />
            </div>
            <h4>What Makes This KIC Event Different From a Monthly KIC Event?</h4>
            <ul style="list-style: none;">
                <li><strong>This event will take place at a HOTEL!!!</strong> If you decide to reserve a room, you won’t have to worry about driving home after an evening of playing. You could literally go to a class, play, take a nap, and possibly do it all over again. How awesome is that!</li>
                <li><strong>There is the PRESENTERS.</strong> Yes, that’s right, presenters, not just one, like at our monthly party. Right now we are working on bringing some of the best Kinky Education Presenters from all over the country. We are looking for a diverse spread of knowledge from rope to impact, poly relations to power exchanges, medical to safety concerns, and any to all different types of play.</li>
                <li><strong>We will have a plethora of VENDORS</strong> selling their kinky goodies. Items such as floggers, rope, apparel, bratty stickers, gags, collars, paddles, and other toys galore!</li>
            </ul>
            <br />
            <br />
            <h4>The Basic Flow of the Event Will Be as Follows:</h4>
            <ul style="list-style: none;">
                <li><strong>Friday evening</strong> we will have opening ceremonies followed by a play party that will go until <strong>2AM</strong>.</li>
                <li><strong>Saturday morning and afternoon</strong>, we will have a whole schedule of classes from our selected presenters.</li>
                <li><strong>Saturday night</strong> will include closing ceremonies followed by yet another play party that goes again, until <strong>2AM</strong>.</li>
                <li>There will also be a silent auction allowing everyone the chance to bid on unique items and toys that have been graciously donated to us.</li>
            </ul>
        </div>
    </div>
</div>

@if (!ViewBag.AgeGateCookieAccepted)
{
    <div id="AgeGateModal" class="modal">
        <div class="modal-content">
            <p>This site is intended only for persons 18 years of age or older.</p>
            <p>This site features content related to consensual adult sexuality. We do not condone or support abuse - in any form.</p>
            <p>By using this site you affirm that you are of age and the viewing of sexually explicit material is legal in your country, state, or city. </p>
            <form method="post" asp-area="" asp-controller="Home" asp-action="Index">
                <div class="form-group">
                    <input asp-for="Consent" type="checkbox" />
                    <label asp-for="Consent">Check here if you consent.</label>
                </div>
                <div class="form-grou">
                    <button class="flat-btn" type="submit" value="Accept">Accept</button>
                </div>
            </form>
        </div>
    </div>
}

<script>
    // Set the date we're counting down to
    var countDownDate = new Date(Date.UTC(2025, 0, 10, 19, 0, 0)).getTime();

    var regOpen = false;

    // Update the count down every 1 second
    var x = setInterval(function () {

        // Get today's date and time
        var now = new Date().getTime();

        // Find the distance between now and the count down date
        var distance = countDownDate - now;

        // Time calculations for days, hours, minutes and seconds
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        // Display the result in the element with id="countdown"
        document.getElementById("countdown").innerHTML = "CURE begins in " + days + "d " + hours + "h "
            + minutes + "m " + seconds + "s ";

        // If the count down is finished, write some text
        if (distance < 0) {
            clearInterval(x);
            document.getElementById("countdown").innerHTML = "Registration Now Open";

            regOpen = true;

            document.getElementById("regTitle").hidden = true;
        }
    }, 1000);

    function regClickable() {
        if (regOpen == false) {
            return false;
        }
        else {
            return true;
        }
    };
</script>
