@page

<div class="view-body">
    <img src="~/css/images/wait-meme.jpg" alt="A kermit meme that says 'payment link loading'" style="height: auto; width: auto;" />
</div>

<script>
    function delayer() {
        window.location.href = "Payment";
    }

    window.setTimeout(delayer, 3000);
</script>