<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CURE</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="icon" type="image/x-icon" href="~/css/images/favicon.ico" />
</head>

<body>
    <div class="container row">
        <header class="header">
            <div class="align-content-center banner-head">
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/css/images/CureBanner.png" alt="CURE Banner" onerror="this.style.display='none'" style="height: auto; max-width: 100%;" />
                </a>
            </div>
            @if (Environment.GetEnvironmentVariable("ASPNETCORE_ENVIRONMENT") == "Development")
            {
                <div class="align-content-center banner-head">
                    <h4 class="main-title text-danger">This is a dev site, used for testing purposes. Information here may be incorrect or made up entirely. If you try to buy a ticket here, nothing will happen. You have been warned.</h4>
                    <p>Click <a href="https://cure.kicevents.com">here</a> to go to the real thing.</p>
                </div>
            }
        </header>
    </div>
    <div class="container main-container">
        @if (Environment.GetEnvironmentVariable("ASPNETCORE_ENVIRONMENT") == "Development")
        {
            <div style="height: 120px;"></div>
        }
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        @if (Environment.GetEnvironmentVariable("ASPNETCORE_ENVIRONMENT") == "Development")
        {
            <div class="container">
                &copy; 2024 - KIC Events LLC - <a href="https://dev.kicevents.com/Gen/Privacy">Privacy</a> - <a href="https://dev.kicevents.com/Gen/Contact">Contact</a>
            </div>
        }
        @if (Environment.GetEnvironmentVariable("ASPNETCORE_ENVIRONMENT") == "Production")
        {
            <div class="container">
                &copy; 2024 - KIC Events LLC - <a href="https://www.kicevents.com/Gen/Privacy">Privacy</a> - <a href="https://www.kicevents.com/Gen/Contact">Contact</a>
            </div>
        }
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
