@page
@model kicweb.Views.Home.Club425

<div class="view-body">
    <div class="row text-center">
        <h2>Register for events at Club Princeton/Lit425</h2>
    </div>
    <div class="row">
        <div class="col-8">
            <h6>You will need to register for a free membership with the venue.</h6>
            <p>This is required to enter the club.</p>
            <br />
            <h6>This only needs to completed once - once you are registered with the venue, your membership will stay on
                file.</h6>
            <p>The process is simple.</p>
            <ul>
                <li>Fill out a free membership application at the link below.</li>
                <li>List "KIC" as your sponsor.</li>
                <li>Confirm your email address (make sure to check your spam folder.)</li>
                <li>Create a new username and password with the venue.</li>
                <li>You will receive an ID number from the venue - retain this number as you will need it at the door.
                </li>
                <li>Once registered, you can purchase an event ticket in advance for a discount, or pay full price at
                    the door.</li>
            </ul>
            <br />
            <br />
            <h5 class="text-danger">A valid government issued ID is required for entrance to any event, even for
                volunteers.</h5>
            <br />
            <br />
            <p><strong><a href="https://lit425.com/kic/application.php">Club Princeton (Club 425)
                        Registration</a></strong></p>
            <p><strong><a href="">Purchase Event Tickets</a></strong></p>
        </div>
    </div>
</div>