

<div class="view-body">
    <p>You can reach us by email with any questions or concerns. </p>
    <ul>
        <li>Event Runners: <a href="mailto:admin@kicevents.com">admin@kicevents.com</a></li>
        <li>Presenter Coordinator: <a href="mailto:presenters@kicevents.com">presenters@kicevents.com</a></li>
        <li>Vendor Coordinator: <a href="mailto:vendors@kicevents.com">vendors@kicevents.com</a></li>
        <li>Volunteer Coordinator: <a href="volunteers@kicevents.com">volunteers@kicevents.com</a></li>
        <li>Webmaster/Technology Team: <a href="mailto:technology@kicevents.com">technology@kicevents.com</a></li>
    </ul>
</div>