@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model KiCData.Models.TicketComp

<div class="view-body">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <div class="col-8">
                <label asp-for="Ticket.Attendee.BadgeName"></label>
                <p>@Model.Ticket.Attendee.BadgeName</p>

            </div>
        </div>
        <div class="form-group row">
            <div class="col-8">
                <label asp-for="Ticket.Event.Name"></label>
                <p>@Model.Ticket.Event.Name</p>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-8">
                <label asp-for="CompAmount"></label>
                <input asp-for="CompAmount" class="form-control" />
                <span asp-validation-for="CompAmount" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-8">
                <label asp-for="CompReason"></label>
                <input asp-for="CompReason" class="form-control" />
                <span asp-validation-for="CompReason" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-8">
                <label asp-for="AuthorizingUser"></label>
                <input asp-for="AuthorizingUser" class="form-control" />
                <span asp-validation-for="AuthorizingUser" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-8">
                <input type="submit" value="Add Comps" class="btn btn-secondary"
            </div>
    </form>
</div>