<div class="nav__spacer"></div>

<header>
  <nav  aria-label="Main navigation" data-nav class="nav">
    <div class="nav__section--left">
      <a asp-area="" asp-controller="Home" asp-action="Index">
        <img class="nav__logo" src="/images/kic-logo-dark.png" alt="KIC Events Logo" />
      </a>

      <ul class="nav__menu">
        <li><a asp-area="" asp-controller="Gen" asp-action="About">About</a></li>
        <li><a asp-area="" asp-controller="Payment" asp-action="Purchase">Get Tickets</a></li>
        <li><a asp-area="" asp-controller="Gen" asp-action="GetInvolved">Get Involved</a></li>
        <li><a  asp-area="" asp-controller="Gen" asp-action="Consent">Consent &amp; Policies</a></li>
      </ul>
    </div>

    <div class="nav__section--right">
      @await Html.PartialAsync("Components/_SocialLinks")
    </div>
  </nav>
</header>