<nav data-nav>
  @* <button data-nav-toggle aria-expanded="false" aria-controls="nav-menu">
      ☰ Menu
  </button> *@

  <ul data-nav-menu>
    <li><a asp-area="" asp-controller="Gen" asp-action="About">About</a></li>
    <li><a asp-area="" asp-controller="Payment" asp-action="Purchase">Get Tickets</a></li>
    <li><a asp-area="" asp-controller="Gen" asp-action="GetInvolved">Get Involved</a></li>
    <li><a  asp-area="" asp-controller="Gen" asp-action="Consent">Consent &amp; Policies</a></li>
  </ul>
</nav>