@model KiCData.Models.WebModels.RegistrationViewModel

<div class="view-body">
    <div id="blasphemy-description" class="container row">
        <h2>We're happy to announce Blasphemy! A 21+ Fundraiser for CURE 2025!</h2>
        <p>This show will be held on <strong>Sunday, 12/15 at 4pm EST</strong> at <strong>425/Club Princeton</strong> (where the monthly KIC parties are held) and feature performers from our very own community.</p>

        <p>Join us for an entertaining evening with stunning performances by our local community! All proceeds will go towards materials and funds needed to ensure the event is a success.</p>

        <p><strong>Tickets will be on sale through the KIC website starting on Friday, 11/15.</strong> Here's the breakdown:</p>

        <ul>
            <li><strong>$15</strong> - Advanced General Admission (11/15-12/14)</li>
            <li><strong>$20</strong> - At Door: Cash and Card accepted</li>
            <li><strong>$30</strong> - VIP (11/15 - Sell out)</li>
        </ul>

        <p><em>VIP includes front row seating and a goodie bag; limited seats available. (4) seats to a VIP table and can be purchased in a group or individually.</em></p>

        <p>You do <strong>NOT</strong> need to be a member of Club Princeton/425 to attend this show but <strong>MUST</strong> be 21+.</p>

        <p>This will be a BYOB event for any alcohol, as the club is not permitted to sell to patrons. Limited mixers will be available, along with light refreshments.</p>

        <p>Feel free to bring any <a href="https://fetlife.com/groups/296186/posts/29470635" target="_blank">Silent Auction items</a> or <a href="https://fetlife.com/groups/296186/posts/29735170" target="_blank">Wishlist purchases</a> to the event!</p>

    </div>
    <hr />
    @if(ViewBag.SalesActive == true && ViewBag.StandardCount > 0)
    {
        <div class="container row" id="blasphemy-purchase-form">
            <form method="post" asp-area="" asp-controller="Payment" asp-action="Blasphemy">
                <div class="col-sm-6">
                    <div class="form-box">
                        <div class="form-group">
                            <label asp-for="FirstName"></label>
                            <input asp-for="FirstName" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label asp-for="LastName"></label>
                            <input asp-for="LastName" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label asp-for="DateOfBirth"></label>
                            <input asp-for="DateOfBirth" class="form-control" type="date"/>
                        </div>
                        <div class="form-group">
                            <label asp-for="TicketType"></label>
                            <select asp-for="TicketType" class="form-control" asp-items="@Model.TicketTypes">
                                <option value="" disabled selected>Select Ticket Type</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-box">
                        <div class="form-group">
                            <input asp-for="CreateMore" type="checkbox" id="createMoreCheckBox" onclick='changeBtnText()' />
                            <label asp-for="CreateMore">Check here if you would like to add another ticket before proceeding to checkout. this form will be reset when you click submit, and you can create another ticket before proceeding to checkout.</label>
                        </div>
                        <div class="form-group">
                            <button class="flat-btn" type="submit" value="Submit" id="blasphemyFormSubmitBtn">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    }
    @if(ViewBag.SalesActive == false)
    {
        <div class="container row">
            <h3 class="main-title">Sales have closed. Ticket may be purchased at the door.</h3>
        </div>
    }
    @if(ViewBag.StandardCount == 0)
    {
        <div class="container row">
            <h3 class="main-title">Standard tickets have sold out and may no longer be purchased.</h3>
        </div>
    }
</div>

<script>
    var subBtn = document.getElementById('blasphemyFormSubmitBtn');
    function changeBtnText(){
        if (subBtn.innerHTML === 'Submit') {
            subBtn.innerHTML = 'Create Another Registration';
        }
        else if (subBtn.innerHTML === 'Create Another Registration') {
            subBtn.innerHTML = 'Submit';
        }
        else{
            subBtn.innerHTML = 'Ok.';
        }
    }
</script>