@page

<div class="view-body">
    <h1 class="main-title">Merch Store</h1>
    <hr />
    <div class="row text-center">
        <p>Proceeds go to furniture and supplies for future KIC Events. All units priced individually. Items will be available for pickup at <a href="/Home/Index#event-carousel">KIC parties</a> and <a href="https://fetlife.com/events/1551027">Cue Up and Mingle</a> events.</p>
        <p><b>ALL ITEMS ARE PRE-ORDERS AT THIS TIME</b></p>
        <p></p>
        </hr />
    </div>
    @*
    <div class="row infographic">
        <img src="/css/images/Merch/kic_apparel_updated.png" alt="An infographic detailing KIC merchandise. For details email technology@kicevents.com." onerror="this.style.display='none" style="width: 100%" />
    </div>
    *@
    <div class="container row" style="align-items:center; padding-left: 10%;">
        <div class="container col-sm-4">
            <div class="ad-card">
                <img src="/css/images/Merch/kic_hoodie.png" alt="KIC Hoodie" onerror="this.style.display='none'" style="width: 100%;">
                <div style="padding: 20px;">
                    <p class="ad-card">Unisex Hoodie</p>
                    <p class="ad-card">$45</p>
                    <a target="_blank" href="https://square.link/u/5RiB5zEj" class="ad-card">Purchase</a>
                </div>
            </div>
        </div>
        <div class="container col-sm-4">
            <div class="ad-card">
                <img src="/css/images/Merch/kic_t.png" alt="KIC Unisex Tee Shirt" onerror="this.style.display='none'" style="width: 100%;">
                <div style="padding: 20px;">
                    <p class="ad-card">Unisex T-Shirt</p>
                    <p class="ad-card">$25</p>
                    <a target="_blank" href="https://square.link/u/Qse7qOqU" class="ad-card">Purchase</a>
                </div>
            </div>
        </div>
        <div class="container col-sm-4">
            <div class="ad-card">
                <img src="/css/images/Merch/kic_tank.png" alt="KIC Women's Tank Top'" onerror="this.style.display='none'" style="width: 100%;">
                <div style="padding: 20px;">
                    <p class="ad-card">Women's Tank Top</p>
                    <p class="ad-card">$20</p>
                    <a target="_blank" href="https://square.link/u/dI14QXw2" class="ad-card">Purchase</a>
                </div>
            </div>
        </div>
    </div>
</div>