@page

<div class="view-body">
    <div class="main-content">
        <h1>Purchase Event Tickets</h1>
        <hr />
        <br />
        <div id="monthly-parties">
            <h3>Monthly KIC Parties</h3>
            <p>At this time, tickets for our monthly parties must be purchased through the <a asp-area="" asp-controller="Gen" asp-action="Club425">Club425 website.</a></p>
            <hr />
            <br />
        </div>
        <div id="hotel-event">
            <h3>CURE - Columbus' Ultimate Relationship Exploration</h3>
            <p><a href="https://cure.kicevents.com">CURE is now open for registration!</a></p>
            <hr />
        </div>
        <div id="blasphemy">
            <div class="container row">
                <div class="container col-sm-4>">
                    <a href="https://kic-events.square.site/product/blasphemy/25?cp=true&sa=true&sbp=true&q=false">
                        <img src="/css/images/Events/Show Poster.png" alt="Blasphemy event card link." style="height: auto; max-width: 60%;" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
