@page

<div class="view-body">
    <div class="main-content">
        <h1>Purchase Event Tickets</h1>
        <hr />
        <div id="monthly-parties">
            <h3>Monthly KiC Parties</h3>
            <p>At this time, tickets for our monthly parties must be purchased through the <a asp-area="" asp-controller="Home" asp-action="Club425">Club425 website.</a></p>
            <hr />
        </div>
        <div id="whip-intensive">
            <div class="row">
                <div class="col-sm-8">
                    <h3>May 2024 Intensive - Whips</h3>
                    <h4>Kinky In Columbus Whip Workshop</h4>
                    <p>MistressJenn and slave diamond’s workshops are known for being highly interactive, educational and fun. You will observe the passion, purpose and direction they bring, supported by their technical ability and expertise. Mistress Jenn and slave diamond are two intense individuals who live a deep M/s power exchange and engage in heavy SM play. In the Lifestyle, their leather family has founded dungeons, clubs, munches and organizations. With over 20 years of experience, Mistress Jenn and slave diamond bring their distinctive insights, practical experience and illuminating, personal anecdotes to every encounter. Join in for a memorable time with one on one interaction.</p>
                    <p>This weekend is not only about throwing whips, but connecting with flesh and practicing on inanimate objects. The fun starts on Friday night at the KIC party with a demo, as Mistress Jenn uses a variety of whips and styles to chase slave diamond around for target practice. Whip tops and bottoms will get a chance to connect throughout the weekend as new and experienced throwers will be using different whips and experimenting with different techniques. Mostly dungeon whips, like the snake or the signal whip, will be used but other whips will be on hand for demonstration. Please bring your own whips, if you have them, as there will be only a few to share. After learning and improving accuracy, speed, grace and agility with a whip, attendees will enjoy different games and challenges against other whip throwers. The weekend concludes with a brief and fun awards ceremony with prizes. Come be a part of this fully immersive day filled with laughs, squeals, cheers and jeers as we use whips to connect with one another.</p>
                    <br />
                    <h4>Agenda</h4>
                    <ul>
                        <li>Saturday 9 AM: Doors open</li>
                        <li>Saturday Morning: Different Whip Throws</li>
                        <li>Saturday Midday: Building Accuracy and Style</li>
                        <li>Saturday Afternoon: Connecting with Whips and Games</li>
                        <li>Saturday 5PM: Awards Ceremony</li>
                    </ul>
                    <br />
                    <p>A small lunch will be provided. Drinks and snacks will be available throughout the day.</p>
                    <br />
                    <h4>Registration</h4>
                    <p>To attend the workshop, you MUST have an APPROVED membership. If you already have a membership, no extra steps are needed. If you do not have a membership, follow the membership directions further below.</p>
                    <p><b>Tickets are $90, and limited amount being sold.</b></p>
                    <p>Tickets include the all day workshop (9a-5p) and entrance into the play party Saturday night (No separate tickets needed, doors open at 8p).</p>
                    <p>Cancellations for purchased Workshop tickets require notice by Wednesday May 15th, 2024. You must email <a href="mailto:KICEventsLLC@gmail.com">KICEventsLLC@gmail.com</a> with your legal name. Tickets are not transferable to other attendees.</p>
                </div>
                <div class="col-sm-4">
                    <div style="
                    overflow: auto;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: center;
                    width: 259px;
                    background: #FFCB37;
                    color: #000000;
                    border: 1px solid rgba(0, 0, 0, 0.1);
                    box-shadow: -2px 10px 5px rgba(0, 0, 0, 0);
                    border-radius: 10px;
                    font-family: SQ Market, SQ Market, Helvetica, Arial, sans-serif;
                    padding-bottom: 10px;
                    ">
                        <img src="~/css/images/whip-workshop.jpg" alt="KIC Whip Workshop" onerror="this.style.display='none'" style="width: 100%;">
                        <div style="padding: 20px;">
                            <p style="
                            font-size: 18px;
                            line-height: 20px;
                        ">Whip Workshop</p>
                            <p style="
                            font-size: 18px;
                            line-height: 20px;
                            font-weight: 600;
                         ">$90.00</p>
                            <a target="_blank" href="https://425vipclub.com/kic/" style="
                            display: inline-block;
                            font-size: 18px;
                            line-height: 48px;
                            height: 48px;
                            color: #FFCB37;
                            min-width: 212px;
                            background-color: #000000;
                            text-align: center;
                            box-shadow: 0 0 0 1px rgba(0,0,0,.1) inset;
                            border-radius: 0px;
                         ">Register Now</a>
                        </div>
                    </div>
                    <br />
                </div>
            </div>
            <hr />
        </div>
        <div id="cigar-social">
            <div class="row">
                <div class="col-sm-8">
                    <h3>May 2024 Cigar Party</h3>
                    <h4>Smokin' in the Boy's Room: Advanced Cigar Play</h4>
                    <p>Cigars are an amazing way to connect before, after, or as a scene. This class goes deeper into cigar play. Mistress Jenn and slave diamond will use the smoke, heat, and ash to mix with power, sex and play. Bring your own and play along. This will be a demo style class while Mistress Jenn and slave diamond talk through the play and ask for audience input. This class goes on the edge and uses the hot ash and lit cigar in ways they were never intended. Everyone is welcome to enjoy or watch this fun experience as we laugh and scream our way through the pain and play.</p>
                    <p>This will be BYOB (bring your own booze) if you wish to have a beverage of choice with your finest cigar(s).</p>

                </div>
                <div class="col-sm-4">
                    <div style="
                    overflow: auto;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: center;
                    width: 259px;
                    background: #FFCB37;
                    color: #000000;
                    border: 1px solid rgba(0, 0, 0, 0.1);
                    box-shadow: -2px 10px 5px rgba(0, 0, 0, 0);
                    border-radius: 10px;
                    font-family: SQ Market, SQ Market, Helvetica, Arial, sans-serif;
                    padding-bottom: 10px;
                    ">
                        <img src="https://items-images-production.s3.us-west-2.amazonaws.com/files/377575936c26c26b77a0ac26f57c51cab023d0ff/original.jpeg" alt="Smokin' In The Boys Room: Advanced Cigar Play" onerror="this.style.display='none'" style="width: 100%;">
                        <div style="padding: 20px;">
                            <p style="
                            font-size: 18px;
                            line-height: 20px;
                        ">Smokin' In The Boys Room: Advanced Cigar Play</p>
                            <p style="
                            font-size: 18px;
                            line-height: 20px;
                            font-weight: 600;
                         ">$20.00</p>
                            <a target="_blank" href="https://kic-events.square.site/product/advanced-cigars/4" style="
                            display: inline-block;
                            font-size: 18px;
                            line-height: 48px;
                            height: 48px;
                            color: #FFCB37;
                            min-width: 212px;
                            background-color: #000000;
                            text-align: center;
                            box-shadow: 0 0 0 1px rgba(0,0,0,.1) inset;
                            border-radius: 0px;
                         ">Buy now</a>
                        </div>
                    </div>
                    <br />
                </div>
                <hr />
            </div>
        </div>
        <div id="new-to-kink">
            <div class="row">
                <div class="col-sm-8">
                    <h3>New To Kink - Getting Into Play</h3>
                    <p>Come join us in a discussion about all the things you need to know to set you up for success!</p>
                    <p>This is the second meeting in a series of four designed for those new to the kink scene and would like to feel more confident attending in person events.</p>
                    <p style="text-decoration:underline">We will send out the specific location 24 hours before the event once you've been approved to attend.</p>
                </div>
                <div class="col-sm-4">
                    <div style="
                    overflow: auto;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: center;
                    width: 259px;
                    background: #FFCB37;
                    color: #000000;
                    border: 1px solid rgba(0, 0, 0, 0.1);
                    box-shadow: -2px 10px 5px rgba(0, 0, 0, 0);
                    border-radius: 10px;
                    font-family: SQ Market, SQ Market, Helvetica, Arial, sans-serif;
                    padding-bottom: 10px;
                    ">
                        <img src="~/css/images/ntk.jpg" alt="New to Kink" onerror="this.style.display='none'" style="width: 100%;">
                        <div style="padding: 20px;">
                            <p style="
                            font-size: 18px;
                            line-height: 20px;
                            ">New To Kink: Getting Into Play</p>
                            <a target="_blank" href="https://fetlife.com/events/1475342" style="
                            display: inline-block;
                            font-size: 18px;
                            line-height: 48px;
                            height: 48px;
                            color: #FFCB37;
                            min-width: 212px;
                            background-color: #000000;
                            text-align: center;
                            box-shadow: 0 0 0 1px rgba(0,0,0,.1) inset;
                            border-radius: 0px;
                            ">Sign Up Here</a>
                        </div>
                    </div>
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>
