@page

<div class="view-body">
    <div class="main-content">
        <h1>Purchase Event Tickets</h1>
        <hr />
        <h3>Monthly KiC Parties</h3>
        <p>At this time, tickets for our monthly parties must be purchased through the <a asp-area="" asp-controller="Home" asp-action="Club425">Club425 website.</a></p>
        <hr />
        <h3>May 2024 Intensive - Whips</h3>
        <h4>Kinky In Columbus Whip Workshop</h4>
        <p>MistressJenn and slave diamond’s workshops are known for being highly interactive, educational and fun. You will observe the passion, purpose and direction they bring, supported by their technical ability and expertise. Mistress Jenn and slave diamond are two intense individuals who live a deep M/s power exchange and engage in heavy SM play. In the Lifestyle, their leather family has founded dungeons, clubs, munches and organizations. With over 20 years of experience, Mistress Jenn and slave diamond bring their distinctive insights, practical experience and illuminating, personal anecdotes to every encounter. Join in for a memorable time with one on one interaction.</p>
        <p>This weekend is not only about throwing whips, but connecting with flesh and practicing on inanimate objects. The fun starts on Friday night at the KIC party with a demo, as Mistress Jenn uses a variety of whips and styles to chase slave diamond around for target practice. Whip tops and bottoms will get a chance to connect throughout the weekend as new and experienced throwers will be using different whips and experimenting with different techniques. Mostly dungeon whips, like the snake or the signal whip, will be used but other whips will be on hand for demonstration. Please bring your own whips, if you have them, as there will be only a few to share. After learning and improving accuracy, speed, grace and agility with a whip, attendees will enjoy different games and challenges against other whip throwers. The weekend concludes with a brief and fun awards ceremony with prizes. Come be a part of this fully immersive day filled with laughs, squeals, cheers and jeers as we use whips to connect with one another.</p>
        <br />
        <h4>Agenda</h4>
        <ul>
            <li>Saturday 9 AM: Doors open</li>
            <li>Saturday Morning: Different Whip Throws</li>
            <li>Saturday Midday: Building Accuracy and Style</li>
            <li>Saturday Afternoon: Connecting with Whips and Games</li>
            <li>Saturday 5PM: Awards Ceremony</li>
        </ul>
        <br />
        <p>A small lunch will be provided. Drinks and snacks will be available throughout the day.</p>
        <br />
        <h4>Registration</h4>
        <p>To attend the workshop, you MUST have an APPROVED membership. If you already have a membership, no extra steps are needed. If you do not have a membership, follow the membership directions further below.</p>
        <p><b>Tickets are $90, and limited amount being sold.</b></p>
        <p>Tickets include the all day workshop (9a-5p) and entrance into the play party Saturday night (No separate tickets needed, doors open at 8p).</p>
        <p>Cancellations for purchased Workshop tickets require notice by Wednesday May 15th, 2024. You must email <a href="mailto:KICEventsLLC@gmail.com">KICEventsLLC@gmail.com</a> with your legal name. Tickets are not transferable to other attendees.</p>

        <a class="purchase-button" href="https://kic-events.square.site/product/may-whip-intensive/1">Buy Tickets</a>
    </div>
</div>
