<div class="cure-home">
  <div class="cure-home__hero"></div>

  <div class="cure-home__logo">
    <img src="/images/redesign/CURE-2026-Logo.png" alt="CURE, January 9-11 2026" />
  </div>

  <div class="container">
    <section class="page-section cure-home__top-info" role="region" aria-labelledby="cure-home-title">
      <h1 class="h2" id="cure-home-title" style="max-width: 100%;">
        Columbus’ Ultimate Relationship Exploration
      </h1>
      <div class="content cure-home__top-info-callout">
        <strong>January 9-11 &#183; Full Hotel Takeover</strong>
      </div>
      <div class="content">
        <p>
          We’re thrilled to announce the return of CURE—<b>Columbus’ Ultimate Relationship Exploration</b>—for its second year, and this time we’re taking things to the next level with a full hotel takeover from the start! This immersive weekend event will take place <b>January 9-11, 2026,</b> at a private hotel location in Northern Columbus. The exact address will be shared with attendees after ticket purchase and registration confirmation.
        </p>
        <p>
          Unlike our monthly KIC events, this weekend-long experience gives you the chance to stay on-site and fully dive into everything the weekend has to offer. Book a room, attend classes, play, nap, and do it all again—no driving necessary, no leaving the space. It’s your chance to explore kink, connection, and community in a fully immersive and supportive environment.
        </p>
        <p>
          We’re curating a dynamic lineup of presenters from across the country, offering a wide range of classes and workshops. From rope and impact to polyamorous relationships, power exchange, medical play, and safety topics, we’re bringing in educators who reflect the diversity and depth of our community’s interests.
        </p>
        <p>
          <b>CURE 2026</b> will also feature a vendor market filled with kinky goods to explore. Whether you’re shopping for rope, paddles, collars, gags, bratty stickers, or that one perfect toy you didn’t know you needed, you’ll find it here.
        </p>
        <p><strong>
          Mark your calendars for January 9-11, 2026—CURE is back and bigger than ever.
        </strong></p>
        <div class="button-group">
          <a class="button" asp-controller="Cure" asp-action="Registration">
            Register for CURE 2026
          </a>
          <a class="button button--secondary" asp-controller="Cure" asp-action="Rules">
            Read Rules &amp; FAQs
          </a>
        </div>
      </div>
    </section>
  </div>
  
  <section class="info-banner info-banner--column-layout info-banner--with-divider">
    <div class="container">
      <div class="info-banner__column">
        <h2 class="display">
          Become a CURE 2026 sponsor!
        </h2>
        <p>
          Sponsoring CURE 2026 helps to provide furniture, staff, and amenities at the event. In return, you can receive advertisement space in our brochure, on our website, or in the event space.
        </p>
        <a class="button" href="https://forms.gle/iNtaKfqCaoL69vBy6" target="_blank">
          Sponsor CURE 2026
        </a>
      </div>
      <div class="info-banner__column--divider"></div>
      <div class="info-banner__column">
        <h2 class="display">
          Donations Needed
        </h2>
        <p>
          Have gear, toys, clothes, or accessories you no longer use? Clear out your closet and give those items a second life by donating them to our silent auction.  We kindly ask that all items be clean and in good condition before donating—no one wants to bid on dusty gear. 
        </p>
        <a class="button" href="mailto:fundraising@kicevents.com">
          Donate to the Silent Auction
        </a>
      </div>
    </div>
  </section>

  <div class="container">
    <section class="page-section" role="region" aria-labelledby="presenters-title">
      <h2 id="presenters-title">
        Presenters &amp; Vendors
      </h2>
      <div class="content body-text">
        <p>
          Get ready to dive deep into new sensations, learn from passionate instructors, and connect with a community of like-minded explorers. Whether you’re a curious newcomer or a seasoned adventurer, these classes are designed to spark your curiosity, expand your skills, and make this weekend one to remember.
        </p>
        <p>
          <a href="https://forms.gle/RE7ReZVq5Fa9yuREA" target="_blank"><strong>CLICK HERE TO APPLY TO PRESENT</strong></a>
        </p>
        <div class="button-group">
          <a class="button" asp-controller="Cure" asp-action="Presenters">
            View CURE Presenters &amp; Vendors
          </a>
          <!-- TODO this will be a link to presenters page with a jump link to the class descriptions section -->
          <a class="button button--secondary" href="#"> 
            Read Class Descriptions
          </a>
        </div>
      </div>
      <div class="cure-home__volunteers-callout">
        <img class="d-none-md" src="/images/redesign/CURE-2026-Volunteers.jpg" />
        <div class="content body-text">
          <h2 class="display">Interested in Volunteering for CURE?</h2>
          <p>
            Volunteering is not only a fun and rewarding way to experience the event, but it’s also a crucial part of making everything run smoothly.
          </p>
          <p>
            This is a fantastic opportunity to get involved beyond just attending. We know Columbus is full of people who love to serve, and we have plenty of volunteer spots for you to do just that! As a thank-you, volunteers receive a discount and early registration access towards the next big event. 
          </p>
          <p>
            <a asp-controller="Cure" asp-action="Volunteers">
              <strong>Learn About Volunteering Opportunities for CURE 2026</strong>
            </a>
          </p>
        </div>
      </div>
    </section>
  </div>
  <section 
    id="cure-discord-banner"
    class="info-banner info-banner--inverted"
    role="region" 
    aria-labelledby="cure-discord-title"
  >
    <h2 class="display" id="cure-discord-title">
      STAY IN THE KNOW FOR CURE 2026
    </h2>
    <hr />
    <ul>
      <li>
        <a href="https://fetlife.com/groups/315887">
          JOIN THE KIC CURE 2026 GROUP
        </a>
      </li>
      <li>
        <a href="https://discord.gg/mRMPabafgc">
          JOIN THE KIC DISCORD
        </a>
      </li>
    </ul>
  </section>
  <div class="container">
    <section class="page-section" role="region" aria-labelledby="cure-home-sponsors-title">
      <h2 id="cure-home-sponsors-title" style="max-width: 100%;">
        Thank You to Our Sponsors!
      </h2>
      <div class="sponsors">
        @if (ViewBag.Sponsors != null)
        {
            List<Sponsor> sponsors = ViewBag.Sponsors;
            foreach (Sponsor s in sponsors)
            {
                <a class="sponsors__card" href="@s.WebsiteUrl" target="_blank" rel="noopener noreferrer">
                    <div class="sponsors__image-container">
                        <img src="@s.ImgPath" alt="@s.PublicName's logo" />
                    </div>
                    <h3>@s.PublicName</h3>
                </a>
            }
            <div class="sponsors__card sponsors__card--placeholder">
              <div class="sponsors__image-container">
                  <img src="/images/redesign/CURE-placeholder-1.png" alt="More sponsors coming soon!" />
              </div>
              <h3>More sponsors coming soon!</h3>
            </div>
        }
      </div>
    </section>
  </div>
</div>