<div class="container">
    <section class="page-section">
        <h2>Checkout Successful</h2>
        <h4>Your tickets have been recorded successfully. You will receive an email with the next steps once your background check is completed.</h4>
        <p>Because no cost has been associated with your registration, you have bypassed the purchase screen.</p>
    </section>
</div>