

<div class="container">
    <h4>Your payment is processing.</h4>
    <p>We were unable to complete your payment, but it did not fail, it is currently pending.</p>
    <p>We will monitor your payment status and follow up with you when it resolves.</p>
    <p>If you have not heard from us within 72 hours, please send an email to <a href="mailto:registration@kicevents.com">registration@kicevents.com</a>.</p>
    <p>Your order ID is @ViewBag.PaymentId</p>
</div>