<div class="container">
  <section class="page-section" role="region" aria-labelledby="rules-section-title">
    <h1 class="h2" id="rules-section-title">
      CURE Rules
    </h1>
    <div class="content body-text" role="presentation" aria-label="CURE Rules Accordion">
      @Html.Accordion(new List<AccordionItem>
      {
          new AccordionItem { 
            Title = "Consent", 
            Description = @"
              <p>
                We seek enthusiastic consent – clear headed, mutual, informed co-creation 
                of a “YES” without manipulation or coercion. It is not an absence of a “No”. 
                <strong>NO MEANS NO</strong>
                <br />
                It is a complete sentence, no explanations needed.
              </p>
              <p>
                The universal safewords are <strong>RED</strong> and <strong>SAFEWORD</strong>. 
                If either are used, the scene will be stopped immediately.
              </p>
            "
          },
          new AccordionItem { 
            Title = "Second", 
            Description = @"
              <p>
                We seek enthusiastic consent – clear headed, mutual, informed co-creation 
                of a “YES” without manipulation or coercion. It is not an absence of a “No”. 
              </p>
              <p><strong>NO MEANS NO</strong>. It is a complete sentence, no explanations needed.</p>
              <p>
                The universal safewords are <strong>RED</strong> and <strong>SAFEWORD</strong>. 
                If either are used, the scene will be stopped immediately.
              </p>
            "
          },
          new AccordionItem { 
            Title = "Third", 
            Description = @"
              <p>
                We seek enthusiastic consent – clear headed, mutual, informed co-creation 
                of a “YES” without manipulation or coercion. It is not an absence of a “No”. 
              </p>
              <p><strong>NO MEANS NO</strong>. It is a complete sentence, no explanations needed.</p>
              <p>
                The universal safewords are <strong>RED</strong> and <strong>SAFEWORD</strong>. 
                If either are used, the scene will be stopped immediately.
              </p>
            "
          },
      })
    </div>
  </section>

  <section class="page-section" role="region" aria-labelledby="rules-section-title">
    <h2 class="h2" id="rules-section-title">
      CURE Rules 2
    </h1>
    <div class="content body-text" role="presentation" aria-label="CURE Rules Accordion">
      @Html.Accordion(new List<AccordionItem>
      {
          new AccordionItem { 
            Title = "Consent", 
            Description = @"
              <p>
                We seek enthusiastic consent – clear headed, mutual, informed co-creation 
                of a “YES” without manipulation or coercion. It is not an absence of a “No”. 
                <strong>NO MEANS NO</strong>
                <br />
                It is a complete sentence, no explanations needed.
              </p>
              <p>
                The universal safewords are <strong>RED</strong> and <strong>SAFEWORD</strong>. 
                If either are used, the scene will be stopped immediately.
              </p>
            "
          },
          new AccordionItem { 
            Title = "Second", 
            Description = @"
              <p>
                We seek enthusiastic consent – clear headed, mutual, informed co-creation 
                of a “YES” without manipulation or coercion. It is not an absence of a “No”. 
              </p>
              <p><strong>NO MEANS NO</strong>. It is a complete sentence, no explanations needed.</p>
              <p>
                The universal safewords are <strong>RED</strong> and <strong>SAFEWORD</strong>. 
                If either are used, the scene will be stopped immediately.
              </p>
            "
          },
          new AccordionItem { 
            Title = "Third", 
            Description = @"
              <p>
                We seek enthusiastic consent – clear headed, mutual, informed co-creation 
                of a “YES” without manipulation or coercion. It is not an absence of a “No”. 
              </p>
              <p><strong>NO MEANS NO</strong>. It is a complete sentence, no explanations needed.</p>
              <p>
                The universal safewords are <strong>RED</strong> and <strong>SAFEWORD</strong>. 
                If either are used, the scene will be stopped immediately.
              </p>
            "
          },
      })
    </div>
  </section>
</div>