<div class="container rules">
  <nav class="rules__jump-links" role="navigation" aria-label="Jump to sections">
    <span>Jump to:</span>
    <ul>
      <li><a href="#rules-faqs-title">FAQs</a></li>
      <li><a href="#hotel-information-title">Hotel Information</a></li>
      <li><a href="#diversity-inclusion-title">Diversity &amp; Inclusion</a></li>
    </ul>
  </nav>
  <section class="page-section" role="region" aria-labelledby="rules-section-title">
    <h1 class="h2" id="rules-section-title">
      CURE Rules
    </h1>
    <div class="content body-text" role="presentation" aria-label="CURE Rules Accordion">
      @Html.Accordion(new List<AccordionItem>
      {
        new AccordionItem { 
          Title = "Consent", 
          Description = @"
            <p>We seek enthusiastic consent - clear headed, mutual, informed co-creation of a “YES” without manipulation or coercion. It is not an absence of a “No”. <b>NO MEANS NO</b> It is a complete sentence, no explanations needed.</p>
            <p>The universal safewords are <b>RED</b> and <b>SAFEWORD</b>. If either are used, the scene will be stopped immediately.</p>
          "
        },
        new AccordionItem { 
          Title = "Name Badges & Wristbands", 
          Description = @"
            <p><b>ALL</b> CURE attendees will be required to wear a provided wristband <b>AND</b> their name badge at all times. Name badges are not to be shared. If found doing so, the offender and the owner of the badge will be ejected from the event with no refund. (<em>The name badge may be removed for play</em>).</p>
          "
        },
        new AccordionItem { 
          Title = "Hotel Staff & Public Areas", 
          Description = @"
            <p>Hotel staff are not part of the event, and may be offended by open displays of sexuality or kink. Please treat them as vanillas with courtesy and respect.</p>
            <p><b>ALL</b> attendees must maintain vanilla space and follow the <b>'grandmother rule'</b> outside of the Event space - This applies to <b>BOTH</b> dress “street legal” and appropriate behavior outside of CURE Event space. If you have to ask if something is inappropriate, it probably is.</p>
            <p>Keep in mind that hallways, elevators, the parking lot, the hotel lobby, hotel restaurant, hotel swimming pool, local businesses or restaurants, etc. are not part of the event, and vanilla behavior and attire are required. Security and credential checkers at entrances will prevent you from leaving the Event Space until covered appropriately. Basically, no nudity or attire that will draw attention to our event.</p>
            <p>Safety and discretion of the event participants is paramount. Please do not display or 'test' toys - floggers, whips, other implements of WIITWD (what it is that we do) outside of the CURE Event Space or around hotel staff that are in our area. This includes not wearing leashes in public areas. Offenders will be asked to leave with no refund. Please be respectful of the hotel staff and help us to give them a reason to bring us back next year.</p>
          "
        },
        new AccordionItem { 
          Title = "Age", 
          Description = @"
            <p>CURE is open to adults, 19 years old (on the first day of the event) or older. A valid government issued ID is required for entrance and registration to CURE. <b>NO ID = NO Entry; NO Exceptions.</b></p>
          "
        },
        new AccordionItem { 
          Title = "Cellphones, Electronics, & Photography", 
          Description = @"
            <p id=cellPhonePolicy>No cameras (film, digital,, et al), cell phones or audio-visual recording equipment, of <b>ANY KIND</b>, are allowed in <b>ANY EVENT SPACE, AT ANY TIME!</b> Confidentiality is imperative and allows for KIC Events to be safe spaces for people who are here to enjoy and learn. People on call should set their phone to vibrate. If you need to make or answer a call, please do so outside the event space.</p>
            <p>Any person seen with any such recording devices may be immediately ejected from the premises without a refund. MOD's or event leaders will ask to see your phone to verify that no pictures, videos, or other recordings were taken without consent. (With the exception of the Official Event Photographer approved by KIC Events Ownership in the designated picture area if chosen to provide.) Furthermore, any non-sanctioned publicly displayed pictures, taken at events, will subject all parties involved to be asked not to return to any KIC Events.</p>
          "
        },
        new AccordionItem {
          Title = "Security, Privacy, Safety, and Manners",
          Description = @"
            <p>When you arrive, please remember to turn off your GPS location on your phone and disable any automatic location notifications since apps like Facebook, Twitter, Instagram, SnapChat, and other social networks track and share information based on location. If you post your written adventures to Fetlife or other social networks please do not identify the location or fellow attendees. This allows our event and the other attendees in attendance, to stay safe and location not be shared. Everyone’s privacy and security is important, no matter how “out” you are.</p>
          "
        },
        new AccordionItem { 
          Title = "Event Space Etiquette & Behavior", 
          Description = @"
            <p>Normal Event Space etiquette is required. Watching from a respectful distance is permitted while in the Play Space, but please keep all conversations, laughter, and comments to a minimum. <b>DO NOT TALK TO or INTERACT WITH</b> the players while the scene is progressing. <em>(Unless specially and verbally invited by the participants.)</em></p>
            <p>There is a time limit on all equipment of approximately 40 minutes. <em>(Please be courteous of your fellow attendees.)</em></p>
            <p>Do not touch anyone’s toys, gear, or belongings without permission.</p>
            <p>Wax & Messy scenes must be performed in the Wet and Wild room. Please consult a DM (Dungeon Monitor) for the appropriate area if you are not sure of location. Drop cloths, tarps (provided by attendee), gloves, condoms, etc must be used for this sort of play.</p>
            <p>Please clean up after your scene. Leave all equipment free of sweat, bodily fluids, wax, lubricants, etc. Bring bodily fluid contamination to the attention of a DM.</p>
            <p>Please refrain from behaviors that interfere with the presenters' classes or another's enjoyment of this event. If you feel you are the subject of rude, inappropriate or non-consensual behavior, please notify KIC CURE Event Staff immediately.</p>
          "
        },
        new AccordionItem { 
          Title = "Play Not Allowed", 
          Description = @"
            <p>Gun play, Golden showers (urine), Brown showers (feces), or Rainbow/Roman showers (vomit) are not allowed in this venue.</p>
            <p>Blood play or Intentional breaking of the skin, including needles, scalpels, knives, hot branding, micro branding, or cell popping, is <b>STRICTLY PROHIBITED.</b></p>
          "
        },
        new AccordionItem { 
          Title = "Edge Play", 
          Description = @"
            <p>Please inform any CURE MOD or DM prior to any extreme play, rough play, abductions, or any other scene that appears dangerous or non-consensual. If, as an observer, you see play that appears dangerous or non-consensual, please do not interrupt the scene. Rather, ask any CURE MOD or Volunteer to investigate the scene. In Fact, if you have <b>ANY</b> questions about <b>ANY</b> behaviors or scenes at the events, ask any CURE MOD or Volunteer for clarification and information.</p>
          "
        },
        new AccordionItem { 
          Title = "Illegal Activities", 
          Description = @"
            <p>Anything that is against the law in the state of Ohio, or the USA, is still illegal in the KIC CURE Event Space and the host hotel. Prostitution, solicitation, and negotiation of payment for play or sexual services, including use or sale of illegal substances, is <b>ILLEGAL</b> and will not be tolerated. Any violators will be immediately ejected from the premises without refund, removed from CURE, and banned from future KIC Events.</p>
            <p>KIC Events will not knowingly admit to the event any individual who has been convicted of a sexual crime and/or is a registered sex offender in any jurisdiction.</p>
          "
        },
        new AccordionItem { 
          Title = "Alcohol & Drug Policy", 
          Description = @"
            <p>No alcohol, drugs, or illegal substances may be brought into the Event Space. Anyone who is noticeably affected by either alcohol or drugs will be refused admittance or asked to leave.</p>
          "
        },
        new AccordionItem { 
          Title = "Smoking", 
          Description = @"
            <p>There is no smoking inside the Event Space or hotel rooms. This includes e-cigs and vaping. There are available smoking areas on the hotel property, including the Cigar Social area. Ohio law prohibits smoking in the common areas of the hotel.</p>
          "
        },
        new AccordionItem { 
          Title = "Tickets, Refunds & Transfers", 
          Description = @"
            <p>No one will be permitted, under any circumstances, to enter the CURE Event Space without advance registration. There are no ticket sales, exchanges, substitutions, refunds, transfers, etc. at the event site by anyone for any reason.</p>
          "
        },
        new AccordionItem { 
          Title = "Damage to the Hotel", 
          Description = @"
            <p>Please be cautious of hotel property - including hotel structures, walls, furniture, appliances, fixtures, etc. You will be held personally responsible for any and all damage that occurs as a direct or indirect result of your actions. Report any such damage to the KIC CURE Event Staff</p>
          "
        },
        new AccordionItem { 
          Title = "Animals", 
          Description = @"
            <p>No real animals of any kind are permitted in <b>ANY</b> area of the event, with the exception of service animals. If you require a service animal, please notify KIC Events Owners prior to arrival.</p>
          "
        },
        new AccordionItem { 
          Title = "Emergencies", 
          Description = @"
            <p>Please bring any emergencies (medical or otherwise) to the immediate attention of a CURE or KIC Events Staff member.</p>
          "
        },
        new AccordionItem { 
          Title = "Lost & Found", 
          Description = @"
            <p>If you have found an item that is not yours, please drop it off at the CURE Staff Room or Command Center. If you have lost an item, please check at the CURE Staff Room or Command Center. These rooms are located across from the main event space.</p>
          "
        },
        new AccordionItem { 
          Title = "Vending", 
          Description = @"
            <p>Only approved, CURE vendors may sell anything on the hotel property the weekend of the event and only from designated vendor areas. (Presenters with books must make arrangements with the KIC presenter coordinator.) Vending from cars, hotel rooms, hallways, hotel lobby or other event/hotel locations is not permitted. Unauthorized vendors will be removed from the event and hotel properties</p>
          "
        },
        new AccordionItem { 
          Title = "Pool Rules", 
          Description = @"
            <p>Coming soon.</p>
          "
        },
        new AccordionItem { 
          Title = "Courtyard Rules", 
          Description = @"
            <p>Coming soon.</p>
          "
        },
      })
    </div>
  </section>

  <section class="page-section" role="region" aria-labelledby="rules-faqs-title">
    <h2 class="h2 rules__jump-link-target" id="rules-faqs-title">
      CURE FAQs
    </h1>
    <div class="content body-text" role="presentation" aria-label="CURE Rules Accordion">
      @Html.Accordion(new List<AccordionItem>
      {
        new AccordionItem { 
          Title = "What does CURE stand for?", 
          Description = @"
            <p><b>Culumbus Ultimate Relationship Exploration</b>></p>
          "
        },
        new AccordionItem { 
          Title = "The word relationship is in the title of the event. Do I need to be in a relationship with someone else to attend?", 
          Description = @"
            <p>You do not have to be in a relationship with someone else to attend this event. You are more than welcome to come as a single individual as we see that as a relationship with yourself. This event is intended to allow the opportunity for each person to learn by themselves or in collaboration with someone else.</p>
          "
        },
        new AccordionItem { 
          Title = "Is this event ADA accessible?", 
          Description = @"
            <p>This event is ADA compliant to all extents possible. There</p>
          "
        },
        new AccordionItem { 
          Title = "Are service animals allowed at this event?", 
          Description = @"
            <p>Coming soon.</p>
          "
        },
        new AccordionItem { 
          Title = "Will this be a complete hotel takeover?", 
          Description = @"
            <p>Coming soon.</p>
          "
        },
        new AccordionItem { 
          Title = "Will there be a theme for the event?", 
          Description = @"
            <p>Coming soon.</p>
          "
        },
        new AccordionItem { 
          Title = "Will there be a photographer at the event?", 
          Description = @"
            <p>Coming soon.</p>
          "
        },
        new AccordionItem { 
          Title = "Is this event a sex positive event?", 
          Description = @"
            <p>Coming soon.</p>
          "
        },
        new AccordionItem { 
          Title = "What is your refund policy?", 
          Description = @"
            <p>Coming soon.</p>
          "
        },
        new AccordionItem { 
          Title = "Are cellphones allowed to be out at the event?", 
          Description = @"
            <p>See the <a>Cell Phone</a></p>
          "
        },
        new AccordionItem { 
          Title = "Am I allowed to take pictures in my hotel room and post them on Fet?", 
          Description = @"
            <p>Coming soon.</p>
          "
        },
        new AccordionItem { 
          Title = "Can we use hotel equipment and furniture to play on, for example, luggage carts?", 
          Description = @"
            <p>Coming soon.</p>
          "
        },
        new AccordionItem { 
          Title = "Where is this event located?", 
          Description = @"
            <p>This information is only provided to registered attendees. After purchasing a ticket, you will recieve an email containing the hotel information.</p>
          "
        },
        new AccordionItem { 
          Title = "Do you have a COVID policy?", 
          Description = @"
            <p>Coming soon.</p>
          "
        },
        new AccordionItem { 
          Title = "Can I post about this event on Facebook or other social medias?", 
          Description = @"
            <p>Coming soon.</p>
          "
        },
      })
    </div>
  </section>
  <section class="page-section" role="region" aria-labelledby="hotel-information-title">
    <h2 class="h2 rules__jump-link-target" id="hotel-information-title">
      Hotel Information
    </h2>
    <div class="content body-text">
      <p class="content__list-label"><strong>Check-in:</strong> 4 PM</p>
      <ul>
        <li>Please do not arrive earlier or request early check-in.</li>
      </ul>
      <p class="content__list-label"><strong>Meal Times:</strong></p>
      <ul>
        <li>Breakfast: 7 AM - 10 AM</li>
        <li>Dinner: 5 PM - 10 PM</li>
        <li>Limited menu options and NO bar</li>
        <li><strong>Important:</strong> When in the restaurant, all goodie bits must be covered in compliance with health codes.</li>
      </ul>
      <p class="content__list-label"><strong>Mini Fridge in Every Room:</strong></p>
      <ul>
        <li>Each room includes a small mini fridge, but microwaves are not guaranteed in all rooms.</li>
      </ul>
      <p><strong>Check-Out: Sunday at 11 AM</strong></p>
      <p class="content__list-label"><strong>Private Event:</strong></p>
      <ul>
        <li>Since this is a private event and we’re taking over the hotel, details listed on the hotel website may not apply.</li>
        <li>There will be <strong>NO HOUSEKEEPING</strong></li>
        <li>Towel Exchange on Saturday from 1:00-3:00 - check map for location</li>
        <li>Hotel will be on minimal staff, please be patient with them.</li>
        <li>If you need anything, find someone with a radio to help assist.</li>
      </ul>
    </div>
  </section>
  <section class="page-section" role="region" aria-labelledby="diversity-inclusion-title">
    <h2 class="h2 rules__jump-link-target" id="diversity-inclusion-title">
      Diversity &amp; Inclusion
    </h2>
    <div class="content body-text">
      <p>
        KIC Events is committed to being an inclusive, safe, welcoming and positive space for all alternative lifestyles to express themselves in their kink, 
        gender orientation, sexuality, and relationships as is their preference. The entire event is classified as pansexual and “all gender friendly”. 
        Please respect everyone’s gender self-identification. If you are not sure about how someone prefers to be referred to, ask politely.
      </p>
      <p>
        We strongly believe in the “Law of Mobility” and “Your kink may not be my kink, AND that is OK”. 
        If you see something you do not like, simply remove yourself from that area. Be respectful and courteous to their space by keeping comments to yourself, 
        as you would want to be done to you and your space. We ask that everyone keep an open, non-judgmental mind, 
        try things, learn what you can, and expand your mind to new possibilities.
      </p>
      <p class="h3 display">
        KIC EVENTS RESERVES THE RIGHT TO REFUSE ANYONE ADMISSION TO ANY KIC EVENT FOR ANY REASON.
      </p>
    </div>
  </section>
</div>