<div class="container">
  <section class="page-section" role="region" aria-labelledby="volunteers-title">
    <h1 class="h2" id="volunteers-title">
      Volunteer for CURE
    </h1>
    <div class="content body-text">
      <p>
        Volunteering is not only a fun and rewarding way to experience the event, but it’s also a crucial part of making everything run smoothly.
      </p>
      <p>
        This is a fantastic opportunity to get involved beyond just attending. We know Columbus is full of people who love to serve, and we have plenty of volunteer spots for you to do just that!
      </p>
      <p>
        If interested in volunteering in any capacity, please select the box during registration and a few months before the event an email will be sent to you with more information and a sign up for which position.
      </p>
      <p>
        While positions and times aren’t guaranteed, we’ll do our best to match you with your preferred roles.
      </p>
      <h3>Scholarships</h3>
      <p>
        If you are interested in giving more than two hours of your time to the CURE event and are interested in a scholarship position, please reach out to <a href="mailto:admin@kicevents"><strong>admin@kicevents</strong></a>. These positions are limited and will require 8 hours of volunteer time during the event. They can include anything from setting up classes, refilling food and water, moving furniture, filling in for other volunteers or any other needs that arise.
      </p>
    </div>
  </section>
  <section class="page-section" role="region" aria-labelledby="position-descriptions-title">
    <h2 class="h2" id="position-descriptions-title">
      Position Descriptions
    </h2>
    <div class="content body-text">
      <h3>CREDENTIAL CHECKER (TWO HOUR SHIFT):</h3>
      <p>Responsible for ensuring that only event attendees are allowed access to event spaces. You will be sitting at one of the access points, checking wristbands and badges of all people wishing to enter areas dedicated to event activities.</p>
      <h3>DUNGEON MONITOR (TWO HOUR SHIFT):</h3>
      <p>Responsible for actively walking the main play space and the secondary play rooms to ensure attendees are following the rules of the event and engaging in safe consensual play, including ensuring that play equipment is cleaned between scenes and that scenes do not exceed 40 minutes.</p>
      <h3>SHIFTING</h3>
      <p>Responsible for moving chairs and furniture between classes and opening/closing ceremonies and the play parties. This will also include set up and tear down.</p>
    </div>
  </section>
</div>