<div class="view-body">
    <h2>KIC Statement of Consent</h2>
    <p>We believe strongly in building and maintaining a safe, informed, and healthy community. We are inclusive of all identities and lifestyles, and consent is the basis for everything we do.</p>

    <h3>Consent Statement:</h3>
    <ul>
        <li>Consent is <strong>SEXY</strong>, and Consent is <strong>MANDATORY</strong>.</li>
        <li>We seek enthusiastic consent – clear-headed, mutual, informed co-creation of a “YES” without manipulation or coercion.</li>
        <li>It is not an absence of a “NO”.</li>
        <li><strong>No</strong> means no. It is a complete sentence, no explanation needed.</li>
    </ul>

    <h2>KIC Safety Guidelines & Group Code of Conduct</h2>
    <p>We have event volunteers, Dungeon Monitors (DMs) who wear yellow vests, and Managers on Duty (MOD) who wear a MOD nametag, who work to keep everyone safe.</p>
    <p>DMs and MODs do not see all things all the time, so we are a “see something, say something” group, who share concerns so they can be addressed.</p>
    <p>We practice <strong>R.A.C.K.</strong> (Risk Aware Consensual Kink) and <strong>S.S.C.</strong> (Safe, Sane, Consensual).</p>
    <p>Our safewords are <strong>RED</strong> and <strong>SAFEWORD</strong>, and we stop any scene when they are used.</p>
    <ul>
        <li>We do not interrupt people who are in a scene or doing aftercare (except MODs/DMs).</li>
        <li>We believe strongly in the “law of mobility” and “your kink may not be their kink, and that’s okay.” If we see something we do not like seeing, we simply move away and respect others’ scenes by keeping negative comments to ourselves.</li>
        <li>
            We use shared resources responsibly:
            <ul>
                <li>We clean up after ourselves after a scene, and after eating or drinking.</li>
                <li>We use barriers on non-play furniture for naked juicy body parts.</li>
                <li>We use barriers on the furniture and on the floor when we play with wax.</li>
                <li>We limit our playtime to posted time limits.</li>
            </ul>
        </li>
        <li>We ask for permission before we touch someone’s body or things unless we have negotiated otherwise.</li>
        <li>We respect each other’s privacy at KIC events and in the world outside our events.</li>
        <li>We dress as “grandma vanilla” when we enter and leave public spaces.</li>
        <li>We do our best to keep airborne irritants (like tobacco smoke) outside of our events to help attendees with allergies.</li>
        <li>We do not use phones, cameras, or recording devices unless an area is explicitly posted as being available to do so.</li>
        <li>No alcohol, drugs, illegal substances, or firearms may be brought to a KIC Event.</li>
        <li>Any activity illegal in the State of Ohio or the US is prohibited at KIC Events. This includes soliciting, prostituting, negotiating payment for play or sexual services, use or sale of substances, etc.</li>
        <li>No firearms or weapons intended to cause physical harm are allowed at KIC events.</li>
        <li>KIC Events will not knowingly allow attendees to attend any function who have been convicted of a violent or sexual crime and/or are a registered sex offender.</li>
    </ul>

    <h2>KIC Staff Code of Conduct</h2>
    <ul>
        <li>We only publicly discuss things which KIC Events have announced publicly.</li>
        <li>We protect the privacy of information we have access to while working for KIC Events.</li>
        <li>We have high expectations for consent practices for KIC Staff, so we make sure we have explicit permission for kink and sexual activities.</li>
        <li>If there is a contentious issue on Fetlife or Discord (or any social media), and you feel the need to participate, please clarify that although you are Staff of KIC, you are not posting on behalf of KIC, and your opinions do not reflect the opinions of KIC.</li>
    </ul>

    <h2>KIC Producer and Educator Code of Conduct</h2>
    <p>The event organizers at KIC do our best to follow the <a href="https://www.thekecc.org/producerVersion.html" target="_blank">Kink Education Code of Conduct (KECC) for Producers</a>.</p>
    <p>When someone presents for us, we ask them to commit to following the <a href="https://www.thekecc.org/educatorVersion.html" target="_blank">Kink Education Code of Conduct (KECC) for Educators</a>.</p>

    <h2>KIC Reporting (for Incidents and Concerns)</h2>
    <p>The Owners of KIC, and the Consent Team at KIC, are available to hear your concerns, discuss your questions, and take reports of incidents.</p>
    <p>At a KIC event, find a DM, MOD, or someone with a radio, and ask to talk to someone about consent.</p>
    <p>Outside of events:</p>
    <ul>
        <li>Our accountability contact can be reached via <a href="mailto:consent@kicevents.com">consent@kicevents.com</a>, which is available to our consent lead, consent team, and event owners.</li>
        <li>Our owners can be reached via <a href="mailto:admin@kicevents.com">admin@kicevents.com</a>, which is available only to the owners.</li>
        <li>Anonymous feedback can be posted here, which is available to the owners and the technology team.</li>
        <li>If you wish to have a discussion which you do not wish for the owners to be able to see, you are welcome to contact our consent team leader PlaySmart on Fetlife, or via email at <a href="mailto:playsmartangela@gmail.com">playsmartangela@gmail.com</a>.</li>
    </ul>

</div>