@model KiCData.Models.WebModels.Feedback

<div class="container">
  <section class="page-section" aria-labelledby="contact-section-title">
    <h1 class="h2" id="contact-section-title">
      Contact Us
    </h1>
    <div class="content body-text">
      <p>
        You can reach us by email with any questions or concerns.
      </p>
      <ul>
        <li>Event Runners: <a href="mailto:admin@kicevents.com"><strong>admin@kicevents.com</strong></a></li>
        <li>Presenter Coordinator: <a href="mailto:presenters@kicevents.com"><strong>presenters@kicevents.com</strong></a></li>
        <li>Vendor Coordinator: <a href="mailto:vendors@kicevents.com"><strong>vendors@kicevents.com</strong></a></li>
        <li>Volunteer Coordinator: <a href="mailto:volunteers@kicevents.com"><strong>volunteers@kicevents.com</strong></a></li>
        <li>Webmaster/Technology Team: <a href="mailto:technology@kicevents.com"><strong>technology@kicevents.com</strong></a></li>
      </ul>
    </div>
  </section>

  @if(FeatureFlags.ShowContactForm) {
    <section class="page-section" aria-labelledby="feedback-section-title">
      <form method="post" asp-controller="Gen" asp-action="Contact" novalidate>
        <fieldset>
          <legend class="h2" id="feedback-section-title">
              Submit Feedback
          </legend>
          <div class="content body-text">
            <p>
              You can fill out this form to send feedback to the event runners. 
              Only the owners of KiCEvents will have access to this feedback, and no identifying information will be included, 
              unless you include your name and email for follow up. If you choose to submit your feedback anonymously, 
              we will not be able to let you know the outcome.
            </p>
          
            <div class="field">
              <label asp-for="Name"></label>
              <div class="field__description">If you would like a follow-up</div>
              <input asp-for="Name" />
            </div>
            <div class="field">
              <label asp-for="Email"></label>
              <div class="field__description">If you would like a follow-up</div>
              <input asp-for="Email" />
              <span asp-validation-for="Email"></span>
            </div>
            <div class="field">
              <label asp-for="Text"></label>
              <textarea asp-for="Text" type="text"></textarea>
              <span asp-validation-for="Text"></span>
            </div>
            <button class="button" type="submit" value="Submit">Submit</button>
          </div>
        </fieldset>
      </form>
    </section>
  }
</div>