@page

<div class="container">
  <section class="page-section" role="region" aria-labelledby="getinvolved-page-title">
    <h1 class="h2">
      Get Involved with KIC Events
    </h1>
    <div class="content body-text">
      <h3>Volunteers</h3>
      <p>
        It takes a large team to make our events work. If you'd like to be a part of what we do, there are many ways to be involved. 
        Every event requires a number of volunteers to complete the myriad tasks required - everything from loading our furniture 
        in and out, serving drinks, tending bar, keeping the space safe, and even service topping for attendees. 
        We are also constantly on the lookout for new presenters and vendors to take part in our events and build the community.
      </p>
      <p>
        If you'd like to volunteer at one of our events, click <a asp-area="" asp-controller="Gen" asp-action="Volunteers">here</a>, 
        or send an email to <a href="mailto:volunteers@kicevents.com">volunteers@kicevents.com</a> and our volunteer coordinator will reach out.
        The following volunteer positions are needed:
      </p>
      <p>
        <strong>Door person/greeter</strong> - checks people in by verifying they have the appropriate wristband for upstairs.
        Sell and complete Waiver Cards. Also will hand out waivers to attendees to fill out and review for completion.
        Verifying information on their personal identification card. Discretion and privacy are key!
      </p>
      <p>
        <strong>"Bartender"</strong> - Alcohol is not allowed at KIC events, although we have water, soda, juices, and snacks available.
      </p>
      <p>
        <strong>Dungeon Monitor</strong> - Actively walk the main play space, outside patio, and sexy time area to help ensure attendees are following the rules of the event and engaging in safe consensual play.
      </p>
      <p>
        <strong>Service Top</strong> - Effectively, safely, and consensually discuss, talk about, and/or
        perform scenes for attendees who are wanting to explore and experience what is being offered at the station.
        At this time we are offering the below stations:
      </p>
      <ul>
        <li>Fire - wand and cupping</li>
        <li>Electricity - using GP kits, conduct electric through the body and use various implements to generate sensations on various parts of the body.</li>
        <li>Corporal - impact station using any tool or implement that can be used on the body, most commonly floggers, paddles, and sometimes canes.</li>
      </ul>
      <p>
        Believe it goes without saying that set-up and tear down assistance is always appreciated.
      </p>
      <p>
        If you’re interested in any of the above opportunities to volunteer, send an email to <strong><a href="mailto:Volunteers@kicevents.com">Volunteers@kicevents.com</a></strong>. In your email please include what area(s) you would be interesting in volunteering for, and if applicable, your level of knowledge and experience.
      </p>
      <h3>
        Presenters
      </h3>
      <p>
        If you would like to share a class or presentation with KIC,
        please fill out <strong><a href="https://forms.gle/oxUe22EPSSo6AbBT9" target="_blank" rel="noopener noreferrer">this form</a></strong>.
      </p>
      <h3>
        Vendors
      </h3>
      <p>
        If you would like to be a vendor at one of our events, 
        please fill out <strong><a href="https://docs.google.com/forms/d/e/1FAIpQLSeHTeLReQub93xckDjPUBmVEoPipHU3cBuJcM3hH8cAowfE7w/viewform?usp=preview" target="_blank" rel="noopener noreferrer">this form</a></strong>.
      </p>
    </div>
  </section>
</div>